#index #left-column #czverticalmenublock,
#index  #right-column #czverticalmenublock{ 
	margin-top: -75px;
}
#left-column #czverticalmenublock,
#right-column #czverticalmenublock{ 
	margin-top: -90px;
    z-index: 9999;
    position: relative;
}
#left-column #czverticalmenublock .block_content,
#right-column #czverticalmenublock .block_content{
	background-color: #f2f2f2;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 7px;
    padding-top: 2px;
}
#left-column #czverticalmenublock .block_content ul,
#right-column #czverticalmenublock .block_content ul{ margin: 0 0 10px 0; }
#left-column #czverticalmenublock .block_title,
#right-column #czverticalmenublock .block_title{
	padding: 20px 25px;
}
#czverticalmenublock .more_menu .more_category{ display: inline-block; text-align: right;  height: 10px; line-height: 10px;}
#czverticalmenublock .more_menu .more_category .navbar-toggler{  line-height: 6px; padding: 10px 0; }
#czverticalmenublock .more_menu .fa-icon.remove { display: none; }
#czverticalmenublock .more_menu .fa-icon.add { display: block; }

#czverticalmenublock .more_menu.active .fa-icon.remove { display: block; }
#czverticalmenublock .more_menu.active .fa-icon.add { display: none; }

.verticalmenu_block > ul > li{ position: relative; }
.vertical-menu .top-menu a[data-depth="0"] {
    padding: 0px 0px 0px 21px;
    margin: 17px 15px 16px 18px;
}
.vertical-menu .top-menu[data-depth="1"] {
    margin: 0.625rem;
}
.vertical-menu .top-menu .sub-menu-arrow:after{
	display: block;
	font-family: "FontAwesome";
	content: "\f105";
	font-size: 18px;
	color: $navbar-text-color;
	cursor: pointer;
}
.vertical-menu .top-menu a:not([data-depth="0"]) {
    display: block;
    padding: 0.625rem;
    color: #acaaa6;
    font-weight: 400;
}
.vertical-menu .top-menu a.dropdown-submenu {
    color: #2fb5d2;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 15px;
}
.vertical-menu .top-menu a {
    color: #292929;
    text-transform: capitalize;
    font-weight: 400;
}
.vertical-menu .top-menu a[data-depth="1"],
.vertical-menu .top-menu a[data-depth="2"] {
    padding: 0 0 10px 0;
}
.vertical-menu .top-menu .collapse {
    display: inherit;
}
.vertical-menu .top-menu .sub-menu {
    border: 1px solid #e6e6e6;
	margin-left: 0px;
    min-width: 596px;
	width: 100%;
    z-index: 10000;
    border-radius: 0;
    display: none;
    top: 0 !important;
	left: 100%;
    background-color: #f2f2f2;
    padding: 20px 20px 20px 0;
}
.vertical-menu .top-menu .sub-menu.collapse {
    display: none;
}
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li {
    float: left;
    margin: 0px 0px 0px 20px;
    min-width: 165px;
}
.vertical-menu .top-menu .popover {
    max-width: inherit;
}
.vertical-menu  .top-menu a.dropdown-submenu {
    color: #414141;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
}
.vertical-menu .top-menu .sub-menu a {
    color: #292929;
    font-size: 13px;
}
.vertical-menu .top-menu a[data-depth="0"]{
	text-transform: capitalize;
    font-size: 14px;
    width: auto;
}
.vertical-menu .top-menu .fa-icon.add:before,
.vertical-menu .top-menu .fa-icon.remove:before{
    font-size: 18px;
}
.vertical-menu .top-menu a[data-depth="0"]:hover{
	/*background-color: #fff;*/
}
.vertical-menu .top-menu a[data-depth="0"]:hover,
.vertical-menu .top-menu .sub-menu a:hover{
	color: #2fb5d2;
    text-decoration: none;
}
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li {
    float: left;
    margin: 0px 0px 0px 20px;
    min-width: 165px;
}
.vertical-menu .top-menu .menu-images-container img{ max-width: 100%; padding-left: 15px; }
.vertical-menu .sub-menu li > a.dropdown-submenu{
    padding-bottom: 7px;
}

@media (max-width: 1199px) and (min-width: 991px){
	#left-column #czverticalmenublock .block_title,
	#right-column #czverticalmenublock .block_title{
		padding: 20px 20px;
	}
}