/*
 * jQuery FlexSlider v2.6.3
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none;
}
.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
.flex-pauseplay span {
  text-transform: capitalize;
}
/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}
.flexslider .slides li {
  display: none;
  -webkit-backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.flexslider .slides img {
  width: 100%;
  display: block;
}
.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
html[xmlns] .flexslider .slides {
  display: block;
}
* html .flexslider .slides {
  height: 1%;
}
.no-js .flexslider .slides > li:first-child {
  display: block;
}
/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
	margin: 0;
	position: relative;
	zoom: 1;
	width: 66.4%;
	float:left; 
	overflow: hidden;
}
 
.flexslider .slides {
  zoom: 1;
}
.flexslider .slides img {
  height: auto;
  -moz-user-select: none;
}
.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.loading .flex-viewport {
  max-height: 300px;
}
.carousel li {
  margin-right: 5px;
}
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
	text-decoration: none;
	display: block;
	margin: -25px 0 0;
	position: absolute;
	top: 50%;
	z-index: 10;
	overflow: hidden;
	opacity: 0;
	cursor: pointer;
	background: #000000;
	color: #ffffff;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 0px;
	line-height: 1;
	height: 50px;
	width: 30px;
    line-height: 47px;
    padding: 0 10px;
}
.flex-direction-nav a:before {
  font-family: "FontAwesome";
  font-size: 26px;
  display: inline-block;
  color: #ffffff;
  font-weight: 300;
}
.flex-direction-nav a.flex-prev:before {
  content: '\f104';
}
.flex-direction-nav a.flex-next:before {
  content: '\f105';
}
.flex-direction-nav .flex-prev {
	left: -30px;
}
.flex-direction-nav .flex-next {
	right: -30px;
	text-align: right;
}
.flexslider:hover .flex-direction-nav .flex-prev {
	left: 0px;
	opacity: 1;
}
.flexslider:hover .flex-direction-nav .flex-next {
	right: 0px;
	opacity: 1;
}
.flexslider .flex-direction-nav a:hover {
	background-color: #93c567;
}
.flexslider .flex-direction-nav a:hover:before {
	color: #ffffff;
}
.flex-direction-nav .flex-disabled {
	opacity: 0!important;
	filter: alpha(opacity=0);
	cursor: default;
	z-index: -1;
}.flex-pauseplay a {
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: 5px;
	left: 10px;
	opacity: 0.8;
	z-index: 10;
	overflow: hidden;
	cursor: pointer;
	color: #fcc605;
}
.flex-pauseplay a:before {
  font-family: "Material Icons";
  font-size: 20px;
  display: inline-block;
  content: '\E039';
}
.flex-pauseplay a:hover {
  opacity: 1;
}
.flex-pauseplay a.flex-play:before {
  content: '\E036';
}
.flex-control-nav {
	width: 100%;
	position: absolute;
	margin: 0;
	display: none;
	bottom: 0px;
	text-align: center;
	z-index: 9;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.flex-control-nav li {
	margin: 0 4px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}
.flex-control-paging li a {
	width: 10px;
	height: 10px;
	display: block;
	background: #000000;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-transition: transform 0.3s cubic-bezier(0.7, -0.2, 0.3, 2.5), color 0.15s ease-out;
	-moz-transition: transform 0.3s cubic-bezier(0.7, -0.2, 0.3, 2.5), color 0.15s ease-out;
	-o-transition: transform 0.3s cubic-bezier(0.7, -0.2, 0.3, 2.5), color 0.15s ease-out;
	transition: transform 0.3s cubic-bezier(0.7, -0.2, 0.3, 2.5), color 0.15s ease-out;
}
.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: #93c567;
    transform: scale(1.35);
}
.flex-control-paging li a.flex-active {
	cursor: default;
}
.flex-control-thumbs {
	margin: 5px 0 0;
	position: static;
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%;
	float: left;
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%;
	height: auto;
	display: block;
	opacity: .7;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.flex-control-thumbs img:hover {
  opacity: 1;
}
.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default;
}
/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 991px) {
	.flex-direction-nav .flex-prev {
		opacity: 1;
		left: 0px;
	}
	.flex-direction-nav .flex-next {
		opacity: 1;
		right: 0px;
	}
}
@media screen and (max-width: 650px) {
	.flexslider{
		width: 100%;
		float: none;
	}
}
@media (min-width: 480px) {
	.flexslider:hover .flex-control-nav {
		display: block;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
	}
}

@media (max-width: 480px) {
	.flex-direction-nav{  }
}