#block-reassurance{
  margin-top: 20px;
  img{
    @include opacity(0.7);
    width: rem(25px);
    margin-right: 10px;
  }
  ul{
  	margin-bottom:0px; 
    li{
		margin-bottom: 5px;
		color: #292929;
	   .block-reassurance-item{
			padding: 12px 15px;
			margin-bottom: 0;
			border-left: 3px solid $secondary-color;
			background: #f0f0f0;
		}
	}
  }	  
  span{
      font-weight: 500;
      font-size: 14px;
  }
}
