/***** Products Design ****/
.cz-hometabcontent {
    text-align: center;
    width: 100%;
    clear: both;
    padding: 35px 0 20px;
    position: relative;
    overflow: hidden;
	.tabs{
		margin-top: 0px;
		.tab-pane{
			padding: 0px;
			border: 0px;
			//margin: 0 -12px;
			background: none;
		}
		.nav-tabs {
			display: inline-block;
			width: auto;
			text-align: right;
			margin-top: -54px;
			float: right;
			margin-bottom: 5px;
			border-bottom: $table-border-color;
			.nav-link {
				//border-color: $table-border-color;
			}
			.nav-item {
				margin: 0 0 0 1px;
				.nav-link {
					border: 0px;
					padding: 8px 20px;
    				font-weight: normal;
				}
			}
		}
	}
	.tab-content{
		.products-section-title{
			 display:none;
		}
		.products {
			overflow: hidden;
		    margin-bottom: 20px;
			.cz-carousel{
				margin-bottom: 50px;
			}
			.customNavigation {
				right: auto;
				left: auto;
				bottom: 0px;
				top: auto;
				width: 100%;
				text-align: center;
				a.prev{
					left: auto;
					position: relative;
				}
				a.next{
					right: auto;
					position: relative;
				}
			}
		}
	}
	.products-section-title{
		margin-bottom: 15px;
		float: left;
	}
}

.product-tabcontent{
	margin: 50px 0;
	.tabs{
		.nav-tabs{
			margin-bottom: 20px;
		}
	}
}
.productscategory-products{
	margin-bottom: 50px;
}

.special-products{ 
	padding: 40px 0 30px; 
}

#index .cz-hometabcontent .tabs ul {}

.featured-products, 
.newproducts, 
.bestseller-products,
.special-products,
.viewed-products,
.crosssell-products,
.productscategory-products,
.product-accessories{
	float: left;
    width: 100%;
    position: relative;
	text-align: center;
}

.featured-products .products, 
.newproducts .products, 
.bestseller-products .products,
.special-products .products,
.viewed-products .products,
.crosssell-products .products,
.productscategory-products .products,
.product-accessories .products,
.brands .products{
	/*float: left;
	width: 100%;*/
	position: relative;
}
.viewed-products .products-section-title,
.crosssell-products .products-section-title,
.productscategory-products .products-section-title,
.product-accessories .products-section-title{

}

.featured-products .products, 
.newproducts .products, 
.bestseller-products .products,
.special-products .products,
.viewed-products .products,
.crosssell-products .products,
.productscategory-products .products,
.product-accessories .products,
.brands .products{
	margin-left: -12px;
	margin-right: -12px;
}

.products-section-title {
	text-align: left;
	border: medium none;
	display: inline-block;
	width: 100%;
	position: relative;
	margin: 0 auto 15px;
	padding: 0 0px 12px;
	color: $base-heading-color;
	position: relative;
	font: 400 22px/26px $font-family;
	text-transform: uppercase !important;
	border-bottom: 1px solid $base-border-color;
    letter-spacing: 0.6px;
	&:after{
		border-bottom: 2px solid $secondary-color;
		bottom: -1px;
		content: "";
		float: left;
		height: 2px;
		position: absolute;
		width: 60px;
		left: 0px;
	}
}

/***** Products Design ****/

.products  {
  margin-bottom: 40px;
  .products {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
  }
  .product-thumbnail {
    background: #fff;
	text-align: center;
	display: block;
	position: relative;
	border: 1px solid $base-border-color;
	img {
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		@include transition(all 0.5s ease);
		&.fliper_image{
			left: 0;
			position: absolute;
			right: 0;
			top: 0px;
			@include opacity(0);
			@include transition(all 500ms ease 0s);
		}
	}
  }
  .product-title {
    display: block;
	margin-bottom: 7px;
	a {
		color: $product-title-color;
		font-size: 14px;
		text-decoration: none;
		font-weight: 400;
    	padding-bottom: 7px;
		&:hover{
			color: $link-hover-color;
		}	
	}
  }
  .thumbnail-container {
    position: relative;
    margin-bottom: 13px;
    overflow: hidden;
	&:hover {
      
      .highlighted-informations {

        &:after {
          @include opacity(1);
        }
        &.no-variants{
          bottom: rem(70px);
        }
      }
      
    }
  }
  .product_list{
  	width: 100%;
    margin: 0;
  	li{
		/*float: left;*/
		&.product_item,
		&.item { 
			padding: 10px 15px 10px 15px;
		}
		.product-description{
			text-align: center;
		}
		.quick-view{			
			font-size: 0px;
			position: absolute;
			left:50%;
			top:50%;
			height: 38px;
			width: 44px;
			background: $secondary-color url(../img/codezeel/quickview.png) no-repeat scroll 10px 12px;
			@include transition( all 0.6s ease);
			@include opacity(0);
			@include scale(0, 0);
			margin: -18px 0 0 -18px;
			/*
			&:before{
				display: inline-block;
				font-family: "FontAwesome";
				content: "\f06e";
				padding: 4px 12px;
				font-size: 16px;
				color: #000;
			}*/
			.material-icons{
				display: none;
				font-size: 20px;
				margin: 7px 10px;
				color: #ffffff;
			}
			&:hover{
				background-color: $primary-color;
			}
		}	
		.product-flags .new {
			@include opacity(0);
			@include transition(all 500ms ease 0s);
		}
		.product-actions .add-to-cart{
			background-color: $btn-primary-hover-bg;
			border-color: $btn-primary-hover-border;
			color: $btn-primary-hover-color;	
			&:hover{
				background-color: $btn-primary-bg;
				border-color: $btn-primary-border;	
				color: $btn-primary-color;	
			}
		}
		&:hover{
			.thumbnail-container {
				.product-thumbnail {
					.fliper_image{
						@include opacity(1);
					}
				}
			}
			.product-title a{ color: $link-hover-color; }
			
			.btn.add-to-cart {
				
			}
			.quick-view{
				@include opacity(1);
				@include scale(1, 1);
				@include transition(all 500ms ease 0s);
			}
			.product-flags .new {
				@include opacity(1);
				@include transition(all 500ms ease 0s);
			}
		}
	}
  }
  .product-price-and-shipping {
    color: $price-color;
    font-weight: 600;
    font-size: 18px;
	margin-bottom: 10px;
  }
  .variant-links {
    width: 100%;
    padding-top: 8px;
	.color {
		width: 20px;
    	height: 20px;
	}
  }
  .highlighted-informations {
    display:none;
  }
  .product-detail{
  	display:none;
  }
  .product-description {
  }
  .product-miniature {
    margin: 0;
	position: relative;
	padding-bottom: 20px;
    .product-actions{
		margin: 0px;
	}
	.discount {
      display: none;
    }
	.discount-percentage {
		z-index: 2;
		color: $secondary-color;
		vertical-align: top;
		display: inline;
		padding: 0 5px;
		font-size: 14px;
	}
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: $gray;
    text-decoration: line-through;
    font-size: 14px;
	display: inline-block;
    vertical-align: top;
  }
  .count {
    color: $gray-dark;
    font-weight: 700;
    position: relative;
    bottom: rem(8px);
  }
  .view_more{
		margin: 10px 0 0;
  }
  .all-product-link {
    clear: both;
    display: inline-block;
    text-align: center;
	font-size: 13px;
    padding: 8px 50px;
    border: 0;
	font-weight: 600;
    letter-spacing: 0.5px;
	color: $btn-primary-color;
    text-transform: uppercase;
	@include transition(all 500ms ease 0s);
	
	background: $secondary-color;	
	&:hover{
		background: $btn-primary-bg;
		color: $btn-primary-color;
		@include transition(all 500ms ease 0s);
	}
  }
}
.product-title {
	a {
		color: $product-title-color;
		font-size: 14px;
		text-decoration: none;
		text-align: center;
		font-weight: 400;
		text-transform: capitalize;
		&:hover{
			color: $link-hover-color;			
		}
	}
}

/**** List view ****/

#products {
	.products {
		margin-bottom:15px;
   		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		.product_list{
			&.list{
				li{
					&.product_item{
						padding: 0px 15px;
						margin-bottom: 5px;						
						&:last-child{
							.product-miniature {
								border-bottom: 0px;
							}
						}
						.product-miniature{  
							background: #fff;
							padding: 15px 0 15px;
							overflow: hidden;
						}						
						.thumbnail-container{
							padding: 0px;
							.product-thumbnail{ 
								margin-bottom: 0px;
							}
							.product-actions{
								display: none !important;
							}
						}
						.quick-view{ 
							top: 50%;
							margin-top: -20px;
						}
					}
					ul.product-flags {
						li{
							&.new{
							    left: 15px;
							}
							&.on-sale {
							    right: 15px;
							}
						}
					}
					.highlighted-informations{
						display: block !important;
					    margin-bottom: 12px;
					}
					.center-block{
						    text-align: left;
							padding-right: 0;
							padding-left: 25px;
					}
					.variant-links{ 
						padding-top: 0px;
						display: inline-block;
						width: auto;
						vertical-align: text-top;
					}
					.button-container{ 
						margin-top: 5px; 
					}
					.product-price-and-shipping{
						 margin-bottom: 5px;
					}
					.product-title{
					    margin-bottom: 15px;
    					padding-bottom: 4px;
						position: relative;
						&:before{
						    border-top: 1px solid $base-border-color;
							bottom: -7px;
							content: "";
							float: left;
							height: 1px;
							position: absolute;
							width: 25%;
						}
					}
					.product-detail{
						margin-bottom: 15px;
						font-size: 13px;
						line-height: 22px;
						display: block;
					}
				}
			}
		}
	}
}
 

@include media-breakpoint-down(md) {
	.cz-hometabcontent .hometab_text{ 
		padding-left: 10px;
		padding-right: 10px;
	}
}
 
@include media-breakpoint-down(sm) {
	.cz-hometabcontent {
		.products-section-title{
			float: none;
		    border: 0;
		    margin-bottom: 5px;
			text-align: center;
			&:after{
				border: 0px;
			}
		}
		.tabs .nav-tabs{
			float: none;
			margin-top: 5px;
    		margin-bottom: 15px !important;
			.nav-tabs .nav-item{
				float: none;
				width: 100%;
				margin: 0px;
			}
		}
	}
	.products .product-price-and-shipping, .product-price{ margin-bottom: 5px; }
	.products{
		.product_list{
			li{
				.quick-view{ 
					@include opacity(1);
					@include scale(1 ,1);
				}
				.thumbnail-container {
					.product-actions{
						@include opacity(1);
						bottom: 5px;
					}
				}
				.product-flags .new,
				.on-sale{
					@include opacity(1);
				}
				.outer-functional{
					@include opacity(1);
				}
			}
		}
		.product-price-and-shipping{
			margin-bottom: 5px;
		}
	}
}


/*@media (max-width: 480px) {
	.products {
		.product_list{
			li{
				&.product_item {
					&.col-sm-6,
					&.col-md-6 { width: 50%; }
				}
				&.item {
					&.col-sm-6 { width: 50%; }
				}
			}
		}
	}
}*/


@include media-breakpoint-down(xs) {
	#products{
		.products {
			.list {
				li {
					&.product_item{
						.center-block{ 
							width:100%; 
							text-align: center; 
							padding-left: 0;
						}
					}
					&.product_item {
						&.col-sm-6,
						&.col-md-6 { width: 50%; }
					}
					&.item {
						&.col-sm-6 { width: 50%; }
					}
				}
			}
			li{
				&.product_item{
					.thumbnail-container{
						max-width: 300px;
						width: 100%;
						margin: 0 auto 10px;
						float: none;
						display: block;
					}
				}
			}
		}
	}
	.products .cz-carousel {
		li.item {
			width: 100%;
		}
	}
	.products {
		.product_list{
			li {
				.thumbnail-container {
					max-width: 220px;
					margin: 0 auto 15px;
				}
			}
		}
	}  
	
}

@media (max-width: 991px) and (min-width: 550px){
	.products {
		.product_list{
			&.list {
				li.product_item{
					width: 100%;
				}
			}
			li.product_item{
				width: 50%;
    			float: left;
			}			
		}
	}
}

@include media-breakpoint-up(md) {
	.products {
		.product_list{
			li{
				&.product_item {
					&.col-md-4,
					&.col-md-6 { width: 33.33%; }
				}
				&.item {
					&.col-md-4 { width: 33.33%; }
				}
			}
			
			&.grid, &.cz-carousel{
				li{
					.product-actions {
						position: absolute;
						bottom: 10px;
						width: 100%;
						z-index: 9;
						height: 40px;
						text-align: center;
						margin-top: 0px;
						@include transition(all 0.5s ease);
						@include opacity(0);
						@include scale(0);
					}
					.product-price-and-shipping {
						margin-top: 5px;
						@include opacity(1);
						@include scale(1);
						@include transition(all 500ms ease 0s);
					}
					&:hover{
						.product-price-and-shipping{
							@include opacity(0);
							@include scale(0);
							@include transition(all 500ms ease 0s);
						}
						.product-actions {
							@include opacity(1);
							@include scale(1);
							@include transition(all 500ms ease 0s);
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1260px){
	.products {
		.product_list{
			li{
				&.product_item {
					&.col-md-4,
					&.col-md-6 { width: 25%; }
				}
				&.item {
					&.col-md-4 { width: 25%; }
				}
			}
		}
	}
}

@media (min-width: 1260px){
	.products {
		.product_list{
			li{
				&.product_item {
					&.col-lg-3 { width: 25%; }				
				}
				&.item {
					&.col-lg-3 {  width: 25%; }
				}
			}
		}
	}
}


/************ Manufacture list page ****************/
.brands{
	text-align: left;
	clear: both;
	padding: 20px 0 20px;
    overflow: hidden;	
	.products{
		/*float: left;
		width: 100%;
		position: relative;
		text-align: center;
		margin: 0px auto;*/
		.product_list{
			li{
				padding:10px 20px 20px;
				float: left;
				&.item {
					padding: 15px 20px 10px;
				}
				img{ 
					@include opacity(0.8);
					width: 100%;
				}
				&:hover {
					img{ @include opacity(1);}
				}
			}
		}
	}
	.product-title{ 
		margin-top:15px; 
	}
	.customNavigation{
		top: -50px;
		right: 30px;
	}
}

#brand_list{
	li{
		&.brand{
			.brand-inner{ 
				border-bottom: 1px solid $base-border-color;
				padding: 31px 0 30px 0;
				.brand-img{ 
					text-align: center; 
					margin-bottom: 10px;
					img{ 
						max-width: 100%; 
					}
				}
				.brand-infos{ 
					padding-left: 0;
				}
				.brand-products{    
					border-left: 1px solid $base-border-color;
					padding: 0 0 15px 30px;
					min-height: 108px;
				}
			}
		}
	}
}
