.block_newsletter {
  @include search-box;
  .title{
	color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p {
    padding-top: $small-space;
  }
  form {
    position: relative;
	.col-xs-12{ padding-left: 0px; }
	.input-wrapper {
      overflow: hidden;
    }
    input[type=text] {
		border: none;
		padding: 10px;
		min-width: 255px;
		padding: 11px;
		width: 100%;
      &:focus {
        color: $gray-darker;
      }
      width: 100%;
    }
    input {
      height: 47px;
      padding: 7px 20px;
      outline: 0;
	  &.btn{
	  	float: right;
		margin-left: 0px;
		color: #fff;
		border: 0;
		background: $secondary-color;
		&:hover{ color: #000; }
	  }
    }
	.newsletter-message{ display: none; }
  }
  margin-bottom: rem(10px);
}
.block-contact {
  .block-contact-title{}
  li {
    overflow: hidden;
    line-height: 26px;
  	i{
		color: $footer-text-color;
		float: left;
		font-size: 18px;
		height: 25px;
		margin-top: 5px;
		width: 25px;
		padding-left: 2px;
		&.fa-envelope-o {
			font-size: 16px;
		}
	}
  }
}
#contact-rich{
	.block_content {
		.icon {
			float: left;
			padding-top: 6px;
			i{
				font-size: 24px;
				&.fa-envelope-o {
					font-size: 20px;
				}
			}
		}
		.data{
			margin-left: 30px;
		}
	}
}
.linklist {
  .blockcms-title a {
    color:$gray-darker;
  }
}
.account-list a {
  color: $gray;
  &:hover {
    color: $brand-primary;
  }
}
.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title,
.footer-container h3.h3,
.footer-after h3.block_title a {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 25px;
}
.block-social {
    position: absolute;
    bottom: 25px;
    left: 15px;
  ul{ margin-bottom: 0px; }
}
.block-social li {
    text-align: center;
	border-radius: 50%;
	display: inline-block;
	background-color: #b2b2b2;
	cursor: pointer;
	margin-right: 4px;
	@include transition(all 0.5s ease);
	&:hover {
		@include transition(all 0.5s ease);
		background-color: $secondary-color;
		a:before{
			color: #FFF;
		}
	}
	a {
		display: block;
		height: 100%;
		white-space: nowrap;
		overflow: hidden;
		span{ display: none; }
		
		&:before{
		    font-size: 18px;
			font-family: $font-icon;
			display: inline-block;
			font-weight: normal;
			height: 35px;
			width: 35px;
		    padding-top: 5px;
			color: #FFF;
		}
	}
}
.facebook {
	a:before{
		content: "\f09a";
	}
}
.twitter {
	a:before{
		content: "\f099";
	}
}
.rss {
  	a:before{
		content: "\f09e";
	}
}
.youtube {
  	a:before{
		content: "\f16a";
	}
}
.googleplus {
	a:before{
		content: "\f0d5";
	}
}
.pinterest {
	a:before{
		content: "\f231";
	} 
}
.vimeo {
	a:before{
		content: "\f27d";
	}
}
.instagram {
	a:before{
		content: "\f16d";
	}
}
#footer{
	.footer-before .container{		
		background-color: $primary-color;
		padding: 0px;
	}
	.block_newsletter {
		background: rgba(0, 0, 0, 0) url("../img/codezeel/newsletter.png") no-repeat scroll 10px -16px;
		margin: 0 0 0 0px;
    	padding: 28px 105px 18px 0;
		.title {
			padding-left: 105px;
			float: left;
			color: #fff;
		}
		.block_content{
			float: right;
			width: 47%;
		}
	}
}


.footer-container {
  	padding: 50px 0 20px;
	overflow: hidden;
	color: $footer-text-color;
  .footer{ position: relative; }
  li {
    margin-bottom: rem(5px);
  }
  li a {
    color: $footer-text-color;
    cursor: pointer;
    &:hover {
      color: $brand-primary;
    }
  }
  .links {
    width:23%; 
	margin-bottom: 15px;
	.h3, h3, h3 a{
		color: $base-heading-color;
		font: 700 20px/26px $font-family;
		text-transform: uppercase !important;
		margin: 0 0 15px 0;
		cursor: pointer;
	}
	.collapse {
      display: inherit;
    }
	&.block-contact {
		width: 24%;
	}
  }
  #czfootercmsblock{
      width: 30%;
	  padding-right: 80px;
	  .footerlogo{
			background:rgba(0, 0, 0, 0) url("../img/codezeel/footer-logo.png") no-repeat scroll 0 0;
			margin-bottom: 10px;
			max-width: 230px;
			min-height: 40px;
			margin-top: 15px;
	  }
  }
}
.footer-after {
	border-top: 1px solid #ccc;
	padding: 20px 0;
	overflow: hidden;
	.copyright{ 
		padding: 5px 0;
		float: left;
	}
	.payement_logo_block{
		padding: 7px 0;
		float: right;
		a{
			img {
				margin: 0 0px 0px 10px;
				filter: grayscale(100%);
				-webkit-filter: grayscale(100%);
				vertical-align: text-top;
				&:hover {
					filter: grayscale(0);
					-webkit-filter: grayscale(0);
				}
			}
		}
	}
}


@media (max-width: 1260px) {
	#footer {
		.block_newsletter {
			padding: 28px 45px 18px 0;
			.title{
			    padding-left: 60px;
			}
			.block_content {
				    width: 44%;
			}
		}
	}
}

@include media-breakpoint-down(md) {
  	#footer {
		.block_newsletter {
			padding: 10px 35px;    margin-right: 0;		background: none;
			.title {
				width: 100%;
				padding-left: 0;
				font-size: 18px;
				line-height: 36px;
			}
			.block_content {width: 100%; margin-bottom: 15px;}
		}
		.links {
		  width:100%; 
		  margin:0px;
		  &.block-contact{ width:100%; }
		  .h3 {
			
		  }
		  .title {
			padding: 15px 0;
			margin-bottom: 0px;
			cursor: pointer;
			.collapse-icons .remove {
			  display: none;
			}
		  }
		  .title[aria-expanded="true"] .collapse-icons {
			.add {
			  display: none;
			}
			.remove {
			  display: block;
			}
		  }
		  .navbar-toggler {
			display: inline-block;
			padding: 0;
			width: auto;
			.fa-icon:before{
				font-size: 30px;
				line-height: 20px;
				color: $gray-darker;
			}
		  }
		  .collapse {
			display: none;
			&.in {
			  display: block;
			}
		  }
		  ul {
			margin-bottom: 0;
			padding: 0px 0;
			> li {
			  a {
			  }
			}
		  }
		}
	}
  .footer-container {
    padding: 45px 0px 20px;
	box-shadow: none;
    margin-top: 0;
    .footer{ padding-bottom: 50px; }
	.wrapper {
      /*padding-left: 0 !important;
      padding-right: 0 !important;*/
    }
	#czfootercmsblock {
		width:100%; 
	  	margin:0 0 10px 0;
		padding-right: 10px; 
	}
   
	.col-md-6{ width:100%; }
  }
 
  .footer-after {
	.copyright{ 
  		text-align: center; 
		float:none; 
	}
	.payement_logo_block{
		text-align: center; 
		padding-top: 0px;
		float:none; 
	}
  }
  .footer-container .hidden-sm-down,
  #search_filters .facet .facet-title.hidden-sm-down {display: none !important;}
  .footer-container .title.hidden-md-up,
  #search_filters .facet .facet-title.hidden-md-up{display: block !important;}
  .block-social {
	bottom: 0px;
	clear: both;
	display: inline-block;
	width: 100%;
  }
  .block-contact {}
  #content-wrapper{
  	margin-bottom: 30px;
  }
  #content-wrapper,
  .layout-left-column #content-wrapper,
  .layout-right-column #content-wrapper,
  #left-column, #right-column{
		width: 100% !important;  
		padding-left:0px; 
		padding-right:0px; 
	}
}


@include media-breakpoint-down(xs) { 
	#footer .block_newsletter {
		padding: 15px 30px;
	}
	#footer .block_newsletter .title{ 
		text-overflow: ellipsis;
   		white-space: nowrap;
		overflow: hidden;
	}
}

