#product {
  #content {
    position: relative;
    max-width: 100%;
	.product-leftside{ 
		position: relative;
	}
  }
}
.products .product-price-and-shipping, 
.product-price {
    color: $price-color;
    font-weight: 600;
    font-size: 18px;
	margin-bottom: 9px;
}
.product-price {
  display: inline-block;
}
.pp-right-column{ padding-left: 15px; }
.productpage_title,
.quickview h1.h1{     
	margin-top: 10px;
	text-transform: capitalize;
    font-weight: normal;
    color: $primary-color; 
	padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $base-border-color;
	font-size: 20px;
	line-height: 28px;
}
#product-description-short {
  color: $gray-darker;
}
.product-information {
  font-size: $font-size-lg;
  color: $gray-darker;

  .manufacturer-logo {
    height: 35px;
  }
}
.input-color {
  position: absolute;
  @include opacity(0);
  cursor: pointer;
  height: rem(20px);
  width: rem(20px);
}
.input-container {
  position: relative;
}
.input-radio {
  position: absolute;
  top: 0;
  cursor: pointer;
  @include opacity(0);
  width: 100%;
  height: 100%;
}
.input-color,
.input-radio {
  &:checked + span,
  &:hover + span {
    border: 2px solid $gray-darker;
  }
}
.radio-label {
  background: #FFFFFF;
  display: inline-block;
  padding: rem(2px) $small-space;
  font-weight: 600;
  border: 2px solid #FFFFFF;
}
.product-actions {
  .control-label {
    width: 100%;
    margin-bottom: 5px;
    display: block;
    width: 100%;
	font-weight: 600;
	color: $gray-darker;
  }
  .add-to-cart {
    padding: 7px 20px;
    .material-icons {
      line-height: inherit;
	  display: none;
    }
  }
}
.product-quantity {
  .qty {
    float: left;
    width: 80px;
    margin-bottom: rem(8px);
  }
  .add {
    float: left;
    margin-bottom: rem(8px);
	margin-left: 10px;
	.add-to-cart {
		padding: 10px 40px;
		color: $btn-primary-hover-color;
		background-color: $btn-primary-hover-bg;
		border-color: $btn-primary-hover-border;
		&:hover{
			color: $btn-primary-color;
			background-color: $btn-primary-bg;
			border-color: $btn-primary-border;
		}
	}
  }
  #quantity_wanted {
    color: $gray-darker;
    background-color: #FFFFFF;
    height: rem(44px);
    padding: 0.175rem 0.5rem;
    width: rem(48px);
  }
  .input-group-btn-vertical {
    float: left;
  }
  .input-group-btn-vertical {
    .btn {
      padding: rem(8px) rem(11px);
      i {
        color: $gray-darker;
		font-size: rem(16px);
        top: rem(2px);
        left: rem(3px);
      }
    }
  }
  .btn-touchspin {
    height: rem(23px);
  }
}
.product-discounts {
  margin-bottom: 15px;
  > .product-discounts-title {
    font-weight: normal;
    font-size: $font-size-sm;
  }
  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: $small-space $medium-space;
      background: #FFFFFF;
      border: rem(5px) $gray-light solid;
      text-align: center;
    }
    tbody tr {
      background: $gray-lighter;
      &:nth-of-type(even) {
        background: #FFFFFF;
      }
      td {
        padding: $small-space $medium-space;
        text-align: center;
        border: rem(5px) $gray-light solid;
      }
    }
  }
}
.product-prices {
    margin-top: 0px;
    margin-bottom: 10px;

  div {
    margin-bottom: 6px;
    font-size: 24px;
    font-weight: 600;
	display: inline-block;
  }

  .tax-shipping-delivery-label {
    font-size: rem(13px);
    color: $gray-dark;
  }
}
.product-discount {
  color: $gray;
  .regular-price {
    text-decoration: line-through;
    font-weight: normal;
    margin-right: 5px;
	font-size: 18px;
  }
}
.has-discount {
  &.product-price, p {
   /* color: $brand-secondary;*/
  }
  .discount {
    background: $brand-secondary;
    color: #FFFFFF;
    font-weight: normal;
    padding: 5px 11px;
    font-size: 14px;
    margin-left: 10px;
    text-transform: uppercase;
    display: inline-block;
  }
}
.product-unit-price {
  font-size: $font-size-xs;
  margin-bottom: 0;
}
.tabs {
  margin-top: 30px;
  .tab-pane {
    padding: 30px;
    border: 1px solid $base-border-color;
    background: #fff;
  }
  .nav-tabs {
    margin-bottom: 0px !important;
	border: none;
    display: inline-block;
    width: 100%;
    .nav-link {
        color: #000000;
		display: block;
		text-transform: uppercase;
		font-size: 13px;
		line-height: 22px;
		margin: 0px;
		padding: 8px 20px;
		text-align: center;
		position: relative;
		background: #FFFFFF;
    	font-weight: normal;
		@include transition(all 0.5s ease 0s); 
      &.active, &:hover {
        color: #FFFFFF;
		border-color: $secondary-color;
		@include transition(all 0.5s ease 0s);
		
		// Filter
		background-color: $secondary-color;
		
      }
    }
    .nav-item {
      float: none;
      display: inline-block;
	  margin:0 2px 0 0;
    }
  }
}

.product-cover {
  border:1px solid $base-border-color;
  margin-bottom: 15px;
  position: relative;
  img {
    background: #FFFFFF;
  }
  .layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 14px;
	cursor: pointer;
	z-index: 1030;
	@include opacity(0);
    background: rgba(255, 255, 255, 0.3);
    @include transition(opacity .7s ease-in-out);
    &:hover {
      @include opacity(1);
    }
    .zoom-in {
	  color: #fff;
      background-color: $secondary-color;
	  position: absolute;
      bottom: 1px;
      right: 1px;
	  padding: 10px 13px;
	  height: auto;
	  width: auto;
	  font-size:20px;
    }
  }
}

#product-modal {
  .modal-content {
    background: transparent;
    border: none;
    padding: 0;
    background: #f5f5f5;
	border-radius: 0px;
	.modal-body {
      @include display(flex);
      margin-left: 0;
      .product-cover-modal {
        background: #FFFFFF;
		width: 100%;
		height: auto;
      }
	  figure{ margin-bottom: 0px; }
      .image-caption {
        background: #FFFFFF;
        padding: rem(10px) rem(20px);
        border-top: $gray-light 1px solid;
        p {
          margin-bottom: 0;
        }
      }
      .thumbnails {
        position: relative;
      }
      .mask {
        position: relative;
        overflow: hidden;
        max-height: 790px;
		margin-top: 30px;
        z-index: 1;
        &.nomargin {
          margin-top: 0;
        }
      }
      .product-images {
        margin-left: 20px;
        img {
          width: 120px;
          cursor: pointer;
          background: #FFFFFF;
          &:hover {
            border: $brand-primary 1px solid;
			@include transition(all 0.3s ease);			
          }
        }
      }
      .arrows {
        height: 100%;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        color: #FFFFFF;
        right: 0px;
        z-index: 0;
        .arrow-up {
          position: absolute;
          top: -20px;
		  right: 20px;
          @include opacity(0.2);
        }
        .arrow-down {
          position: absolute;
          bottom: -20px;
		  right: 20px;
        }
        i {
          font-size: 75px;
          display: inline;
		  color: #000;
        }
        cursor: pointer;
      }
    }
  }
}
#blockcart-modal {
  .modal-header {
    color: $brand-success;
  }
  .modal-body {
    padding: 35px 25px;
    .divide-right span {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
  .modal-dialog {
    max-width: 1140px;
    width: 100%;
  }
  .product-image {
    width: 240px;
    border: 1px solid $base-border-color;
  }
  .modal-title {
    line-height: 24px;
    color: #4cbb6c;
    font-size: 14px;
    text-align: left !important;
	text-transform: uppercase;
    font-weight: 600;
	&:before{
		content: "\f00c";
		font-family: $font-icon;
		font-size: 18px;
		color: #4cbb6c;
		padding-right: 5px;
    	font-weight: normal;
	}
  }
  .product-name {
    color: $product-title-color;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: normal;
  }
  .cart-products-count {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
	color: $gray-darker;
	padding-bottom: 13px;
    border-bottom: 1px solid $table-border-color;
    margin-bottom: 15px;
  }
  .cart-content {
    padding-left: $extra-large-space;
    button {
      margin-right: 5px;
	  margin-bottom: 8px;
	  vertical-align: top;
    }
  }
  .divide-right {
    border-right: 1px solid $base-border-color;
  }
}
.product-images {
  > li.thumb-container {

    > .thumb {
      	border: 1px solid $base-border-color;
    	cursor: pointer;
    	margin:0 0 10px;
		width: 95px;
      .images-container & {
        margin: 0px;
      }
      &.selected,
      &:hover {
        border: 1px solid $secondary-color;
      }
    }
  }
}


  .images-container {
    .product-images{
		> li{
			&.thumb-container {
				display: inline;
				margin-right: 10px;
			}
		}
	}
	.js-qv-mask {
       margin: 0 15px;
	  white-space: nowrap;
      position:relative;
	  //overflow: hidden;
      &.scroll {
        
      }
	  .thumb-container{
	  	padding: 0 7px;
		.thumb {
			border: 1px solid $base-border-color;
			margin:0 0 10px;
			width: 95px;
			height:110px;
			&.selected,
			&:hover {
				border: 1px solid $secondary-color;
			}
		}
	  }
	  .customNavigation{
	  	top: 40px;
		width: 100%;
		a{
			&:before{
				font-size: 24px;
			}
			&.prev{
				left: -10px;
			}
			&.next{
				right: -10px;
			}
		}
	  }
    }
  }


.scroll-box-arrows {
  display: none;
  &.scroll {
    display: block;
  }
  i {
    position: absolute;
    bottom: 40px;
    cursor: pointer;
	font-size: 40px;
  	color: $primary-color;
  	height: 35px;
  	width: 35px;
	@include transition(all 0.5s ease 0s); 
	&:hover{
		border-color: $secondary-color;
		color: $secondary-color;
	}
  }
  .left {
    left: -10px;
  }
  .right {
    right: -5px;
  }
}
.product-quantity{
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 0px;
}
#product-availability, 
.product-availability {
  	display: inline-block;
    font-weight: normal;
    margin-left: 5px;
    color: #fff;
  .material-icons {
    display: none;
	line-height: inherit;
  }
  .product-available {
    background-color: $brand-success;
	padding: 3px 12px 5px;
  }
  .product-unavailable {
    background-color: $brand-warning;
	padding: 3px 12px 5px;
  }
  .product-last-items {
    background-color: $brand-warning;
	padding: 3px 12px 5px;
  }
}
#product-details {
  .label {
    font-weight: 600;
    margin-right: 10px;
	margin-bottom: 12px;
    color: $gray-darker;
  }
}
.product-manufacturer { margin-bottom: 15px;     max-width: 250px;}
.product-features {
  margin-top: 5px;
  margin-left: 0;
  h3 {
    font-weight: 600;
    margin-right: 10px;
	margin-bottom: 12px;
    color: $gray-darker;
  }
  > dl.data-sheet {
    
    dd.value,
    dt.name {
      	width: 49%;
    	display: inline-table;
		font-weight: normal;
		background: #ebebeb;
		padding: 10px 20px;
		margin-right: 0px;
		min-height: 2.5rem;
		word-break: break-all;
		vertical-align: top;
		color: $gray-darker;
      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
    dt.name {
      text-transform: capitalize;
    }
	dd{
		margin-bottom: 3px;
	}
  }
}
.product-variants {
  > .product-variants-item {
    margin: 10px 0;
    select {
		border: 1px solid $gray-light;
		height: rem(40px);
		width: auto;
		min-width: 75px;
		padding-left: 8px;
    }
    ul li {
      margin-right: $small-space;
    }
    .color {
     	margin: 0;
		width: 20px;
		height: 20px;
    }
  }
}
.product-flags {
  margin:0px;
  /*position: absolute;
  top: 0;
  width: 100%;*/
}
ul.product-flags {
    li{
		display: block;
		position: absolute;
		padding: 0px;
		font-size: 13px;
		font-weight: 600;
		text-transform: capitalize;
		color: $primary-color;
		z-index: 2;
		&.online-only{
		  top: rem(400px);
		  right: 0;
		  font-size: $font-size-xs;
		  /*&::before{
			content:"\E30A";
			font-family: 'Material Icons';
			vertical-align: middle;
			margin: rem(5px);
		  }*/
		}
		&.discount {
		  display: none;
		}
		&.on-sale {
		  text-align: center;
		  margin: 0;
		  right: 10px;
		  top: 4px;
		  color: $secondary-color;
		  &.discount-percentage {
			z-index: 2;
			color: $primary-color;
			vertical-align: top;
			display: inline;
			padding: 0px;
			font-size:13px;
		  }
		}
		&.new{
			left: 10px;
			top: 4px;
		}
	}
}

.product-customization {
  margin: 25px 0;
  .product-customization-item {
    margin: 15px 0;
  }
  .product-message {
    background: $gray-light;
    border: none;
    width: 100%;
    height: rem(50px);
    resize: none;
    padding: rem(10px);
    @include placeholder {
      color: $gray-darker;
    }
  }
  .file-input {
    width: 100%;
    @include opacity(0);
    left: 0;
    z-index: 1;
    cursor: pointer;
    height: rem(42px);
    overflow: hidden;
    position: absolute;
  }
  .custom-file {
    position: relative;
    background: $gray-light;
    width: 100%;
    height: rem(42px);
    line-height: rem(42px);
    text-indent: rem(10px);
    display: block;
    color: $gray;
    margin-top: $medium-space;
    button {
      z-index: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  small {
    color: $gray;
  }
}
.product-pack {
  margin-top: $extra-large-space;
  .pack-product-container {
    @include display(flex);
    justify-content: space-around;
    .pack-product-name {
      @include flex(0 0 50%);
      font-size: rem(14px);
      color: $gray;
    }
    .pack-product-quantity {
      border-left: $gray-light 2px solid;
      padding-left: $small-space;
    }
    .pack-product-name,
    .pack-product-price,
    .pack-product-quantity {
      @include display(flex);
      align-items: center;
    }
  }
}
.product-refresh {
  margin-top: $medium-space;
}
.social-sharing {
  width: 100%;
  clear: both;
  margin-top: 10px;
  > span {
  	display: none;
  }
  ul {
    margin: 0;
	  li {
		height: 35px;
		width: 60px;
		display: inline-block;
		background-color: #FFFFFF;
		cursor: pointer;
		margin-right: 4px;
		border: 1px solid;
		@include transition(all .2s ease-in);
		a {
		  display: block;
		  width: 100%;
		  height: 100%;
		  white-space: nowrap;
		  text-align:center;
		  line-height: 35px;
		  overflow: hidden;
		  &:hover {
			color: transparent;
		  }
		  &:before{
				font-size: 18px;
				font-family: "FontAwesome";
				display: inline-block;
			}
		}
		&.facebook{
			border-color: #435f9f;
			a{
				&:before{
					content: "\f09a";
					color: #435f9f;
				}
			}
			&:hover{
				background-color: #435f9f;
				a:before{
					color: #ffffff;
				}
			}
		}
		&.twitter{
			border-color: #00aaf0;
			a{
				&:before{
					content: "\f099";
					color: #00aaf0;
				}
			}
			&:hover{
				background-color: #00aaf0;
				a:before{
					color: #ffffff;
				}
			}
		}
		&.googleplus{
			border-color: #e04b34;
			a{
				&:before{
					content: "\f0d5";
					color: #e04b34;
				}
			}
			&:hover{
				background-color: #e04b34;
				a:before{
					color: #ffffff;
				}
			}
		}
		&.pinterest{
			border-color: #ce1f21;
			a{
				&:before{
					content: "\f0d2";
					color: #ce1f21;
				}
			}
			&:hover{
				background-color: #ce1f21;
				a:before{
					color: #ffffff;
				}
			}
		}
	  }
   }
}
.products-selection {
	margin-bottom: 5px;
	display: inline-block;
	width: 100%;
	padding: 10px 0px 15px 0px;
	border-bottom: 1px solid $base-border-color;
	.title {
		color: $gray-dark;
	}
	.filter-button{
		width: auto;
	}
}
#blockcart-modal .cart-content {
  .btn {

  }
}
@include media-breakpoint-down(lg) {
	.images-container .additional_slider.js-qv-mask .thumb-container{
		
		width: 100%;
    	padding: 0;
	}
	.images-container {
		.js-qv-mask{
			.thumb-container {
				width: 50%;
			}
		}
	}
}
@include media-breakpoint-down(md) {
  .product-cover {
    img {
      width: 100%;
    }
  }
  
  .products-selection {
  	.sort-by{ margin-left: 0px; }
  	.filter-button{
		margin: 10px 0;
	    clear: both;
	}
  }
  #product-modal .modal-content .modal-body {
    @include flex-direction(column);
    margin-left: 0;
    img.product-cover-modal {
      width: 100%;
    }
    .arrows {
      display: none;
    }
	.mask{
		margin-top: 20px;
	}
	.product-images > li.thumb-container {
		display: inline-block;
	}
  }
  #product-modal .modal-content .modal-body .image-caption {
    width: 100%;
  }
  #blockcart-modal {
    .modal-dialog {
      width: calc(100% - 20px);
    }
    .modal-body {
      padding: rem(30px);
    }
  }
  .social-sharing{
  	padding: 15px 0; 
	text-align: left;
   }
  .product-quantity .add{
	margin-left:0px;
  }
}

@include media-breakpoint-down(sm) {
  #blockcart-modal {
    .divide-right {
      border-right: none;
    }
    .modal-body {
      padding: rem(16px);
    }
  }
  #product .page-content .product-leftside{ 
		width: 280px;
    	margin: 0 auto 25px;
		clear: both;
		overflow: hidden;
		height: 100%;
	}
	
}
@media (max-width: 600px) {
	.tabs {
		.nav-tabs{
			.nav-item{
				float: none;
				width: 100%;
				margin: 0px;
				a{width: 100%;}
			}
		}
	}
}
@include media-breakpoint-down(xs) {
	#product .page-content .product-leftside{ 
		width: 230px;
	}
}
@include media-breakpoint-up(xs) {
	#product-modal .modal-dialog{
		max-width: 800px;
	}
	
}