.search-widget {
  float: right;
  @include search-box;
}
.header-top {
  .search-widget {
    padding: 0;
    width: 280px;
	float:left;
	form {
      input[type="text"] {
        display: inline;
		padding: 10px 50px 10px 10px;
		min-width: inherit;
		width: 100%;
		height: 42px;
	    line-height: 15px;
		font-size: 14px;
		background: #639338;
		border: 1px solid #639338;
      }
    }
  }
}
#checkout {
  #search_widget {
    /*display: none;  Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .header-top {
    .search-widget {
      width: 100%;
	  float: none; 
      form {
        margin: 0 auto;
        input[type="text"] {
          min-width: inherit;
        }
      }
    }
  }
}
@include media-breakpoint-down(md) {
	.header-top {
    	.search-widget {
			 form {
			 	button[type="submit"] {
					&:before{ color: #000 }
				}
			}
		}
	}
}