.lang-rtl {
  * {
    direction: rtl !important;
  }
  main {
    text-align: right !important;
  }
}
/*body,*/
html {
  height: 100%;
}
body {
  font-family: $font-family;
  font-size: $base-font-size;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-color;
  line-height: 26px;
  position: relative;
  background-color: $body-bkg;
  //background-image: url(../img/codezeel/bodybkg.png) no-repeat fixed 0 0;
}

main#page{
	margin: 0px auto;
	padding: 30px 15px;
	box-shadow: none;
	
	@media (min-width: 768px){
		width: 720px;
		max-width: 100%;
		padding: 0px;
		margin-top: 50px;
		margin-bottom: 50px;
		box-shadow: 0 0 7px #444;
	}
	@media (min-width: 992px){
		width: 960px;
		max-width: 100%;
	}
	@media (min-width: 1260px) {
		width: 1230px;
		max-width: 100%;
	}
}

ul {
  list-style: none;
  padding-left: 0;
}
a:hover {
  color: $brand-primary;
  text-decoration: none;
}
p {
  margin-bottom: 10px;
}
.container{ 
	//border: 1px solid #FFFF00;
}
.page-container { 
	background: #FFF;
	margin: 0px auto;
	position: relative;
	padding: 0 30px;
	//border: 1px solid #00FF00;
}
/*** Normalize Codezeel Start ***/
b,
strong {
	color: $gray-darker;
}
a{ color: $link-color; }
a:focus,
a:hover { color: $link-hover-color; @include transition(all 0.3s ease); outline-offset: 0; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-weight: 700;
}
hr{ border-color: $table-border-color; }
.thead-default th { font-weight: 600; color: $gray-darker; }
.form-control {
	padding: 5px 12px;
	color: $gray-darker;
	border: 1px solid $table-border-color;
	font-size: 14px;
    line-height: 26px;
}
.form-control::placeholder,
.form-control:focus{color: $gray-darker;}
.btn{
	font: 600 13px/22px $font-family;
	text-transform: uppercase;
	display: inline-block;
    text-align: center;
	vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 0;
	white-space: nowrap;
	letter-spacing: 0.5px;
	@include transition(all 0.5s ease 0s);
}
.btn-primary{
	border: 1px solid $btn-primary-border;
	color: $btn-primary-color;
	background: $btn-primary-bg;
	@include transition(all 0.5s ease 0s);
}
.btn-primary:hover{
	border-color:  $btn-primary-hover-border;
	color: $btn-primary-hover-color;
	background: $btn-primary-hover-bg;
	@include transition(all 0.5s ease 0s);
}
.modal {z-index: 10050;}
.modal-backdrop{z-index: 10040;}
.modal-header .close {
  	margin-top: -9px;
    font-size: 42px;
    padding: 0px 13px;
	position: absolute;
    right: 5px;
	font-weight: 100;
	@include opacity(1);
}
.pull-xs-right {
    float: right !important;
}
.pull-xs-left {
    float: left !important;
}
.table thead th{
	border: 1px solid $table-border-color;
	background: #f2f2f2;
}
.table-labeled th,
.table-labeled td,
.table-striped tbody tr,
.table-striped tbody tr:nth-of-type(odd){
	background: #fff;
}
/*** Normalize Codezeel End ***/


.dropdown-item:focus,
.dropdown-item:hover {
  background: none;
}
.color{ border:1px solid #666; }
.color,
.custom-checkbox input[type="checkbox"] + span.color {
  width: rem(20px);
  height: rem(20px);
  display: inline-block;
  margin: 0 4px 0 0;
  border: 1px solid #aaa;
  cursor: pointer;
  background-size: contain;
  &.active,
  &:hover {
    border: 1px solid $gray-darker;
  }
}
.facet-label {
  &.active,
  &:hover {
    .custom-checkbox span.color {
      border: 1px solid $gray-darker;
    }
  }
}
.h1,
.h2,
.h3 {
  text-transform: uppercase;
  color: $gray-darker;
}
.h4 {
  font-weight: $headings-font-weight;
  color: $gray-darker;
}
.btn-primary,
.btn-secondary {
  text-transform: uppercase;
  padding: 8px 20px;
  @include transition(all 0.5s ease 0s);
  .material-icons {
    margin-right: 5px;
	font-size: 20px;
	height: 19px;
  }
}
.btn-tertiary {
  @extend .btn-secondary;
  padding: 8px 20px;
  margin: rem(4px) 0;
  font-weight: 400;
  font-size: $font-size-sm;
  .material-icons {
    font-size: $base-font-size;
  }
}
.card {

}
label ,.label {
  color: $gray-darker;
  font-weight: 600;
  text-align: right;
}
small.label, small.value {
  font-size: rem(13px);
}
.form-control-label {
  padding-top: 4px;
	font-weight: 600;
}
.form-group .custom-checkbox label{font-weight: 600;}
.form-control {
  &:focus { 
  }
}
.input-group {
  &.focus {
    
  }
  .form-control:focus {
    outline: none;
  }
  .input-group-btn > .btn {
    border: 0;
    box-shadow: none;
    color: #ffffff;
    font-size: rem(11px);
    font-weight: normal;
    margin-left: 0;
    padding: 7px 12px;
    text-transform: uppercase;
  }
}
.form-control-select {
  height: rem(42px);
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=") no-repeat scroll right rem(8px) center / rem(20px) rem(20px);
  padding-right: rem(32px);
}
.form-control-valign {
  padding-top: rem(8px);
}
.form-control-comment {
  font-size: 13px;
  padding-top: rem(8px);
}
.form-control-submit {
  &.disabled {
    background: $brand-info;
    color: white;
  }
}
.form-group {
  &.has-error {
    input,
    select {
      outline: rem(3px) solid $brand-danger;
    }
    .help-block {
      color: $brand-danger;
    }
  }
}
.group-span-filestyle {
  label {
    margin: 0;
  }
  .btn-default {
    background: $brand-primary;
    color: white;
    text-transform: uppercase;
    border-radius: 0;
    font-size: rem(14px);
    padding: rem(8px) rem(16px);
  }
}
.bootstrap-touchspin {
  input {
    &:focus {
      outline: none;
    }
    &.form-control {
      border: $input-btn-border-width solid $input-border-color;
    }
  }
  .btn-touchspin {
    @extend .btn-default;
    background-color: white;
    border: $input-btn-border-width solid $input-border-color;
    height: ($input-height / 2) + rem($input-btn-border-width);
    &:hover {
      background-color: $gray-light;
    }
  }
  .input-group-btn-vertical {
    color: $gray-darker;
    .bootstrap-touchspin-up {
      border-radius: 0;
    }
    .bootstrap-touchspin-down {
      border-radius: 0;
    }
    .touchspin-up {
      &:after {
        content: "\E5CE";
      }
    }
    .touchspin-down {
      &:after {
        content: "\E5CF";
      }
    }
    i {
      top: rem(1px);
      left: rem(3px);
      font-size: rem(15px);
	  color: #000;
    }
  }
}
.custom-radio {
  display: inline-block;
  position: relative;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: $gray 1px solid;
  background: white;
  margin-right: rem(5px);
  input[type="radio"] {
    @include opacity(0);
    cursor: pointer;
  }
  input[type="radio"]:checked + span {
    display: block;
    background-color: $brand-primary;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
  }
}
.custom-checkbox {
  position: relative;
  input[type="radio"],
  input[type="checkbox"] {
    margin-top: rem(4px);
    @include opacity(0);
    cursor: pointer;
    position: absolute;
    + span {
      margin-right: 3px;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      cursor: pointer;
      border: 1px $gray-dark solid;
      .checkbox-checked {
        display: none;
        margin: -2px -1px;
        font-size: 16px;
        color: $gray-darker;
      }
    }
    &:checked + span {
      .checkbox-checked {
        display: block;
      }
    }
  }
  label {
    text-align: left;
  }
}
.facet-label .custom-checkbox{
  position: relative;
  input[type="radio"] {
    margin-top: rem(4px);
    @include opacity(0);
    cursor: pointer;
    position: absolute;
    + span {
      margin-right: 3px;
      display: inline-block;
      width: 15px;
      height: 15px;
      vertical-align: middle;
      cursor: pointer;
      border: 1px $gray-dark solid;
      .checkbox-checked {
        display: none;
        margin: -2px -1px;
        font-size: 16px;
        color: $gray-darker;
      }
    }
    &:checked + span {
      .checkbox-checked {
        display: block;
      }
    }
  }
  label {
    text-align: left;
  }
}
.text-muted {
 
}
.done {
  color: $brand-success;
  display: inline-block;
  padding: 0 0;
	margin-right: 10px;
	font-size: 28px;
	font-weight: 700;
}
.thumb-mask {
  > .mask {
    position: relative;
    width: rem(55px);
    height: rem(55px);
    overflow: hidden;
    border: $gray-light 1px solid;
    margin: $small-space 0;
    img {
      width: 55px;
      height: 55px;
    }
  }
}
.definition-list {
  dl {
    @include display(flex);
    @include flex-wrap(wrap);
    dt {
      font-weight: normal;
    }
    dd,
    dt {
      @include flex(0 0 45%);
      background: $gray-light;
      padding: rem(10px);
      margin: rem(2px);
      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
  }
}
.help-block {
  margin-top: $small-space;
}
.btn.disabled,
.btn.disabled:hover {
  background: $gray;
  border-color: $gray;
}
.alert-warning {
  .material-icons {
    color: $warning;
    font-size: rem(32px);
    margin-right: $small-space;
    padding-top: $extra-small-space;
  }
  .alert-text {
    font-size: rem(15px);
    padding-top: $small-space;
  }
  .alert-link {
    border-radius: 2px;
    border-width: 2px;
    margin-left: $small-space;
    padding: $extra-small-space $medium-space;
    font-weight: 600;
    font-size: rem(13px);
    color: $btn-tertiary-color;
  }
  ul li:last-child .alert-link {
    color: white;
  }
  .warning-buttons {
    margin-top: $extra-small-space;
  }
}
.btn-warning {
  @include transition(all .4s ease-in-out);
}
.btn-tertiary-outline {
  color: $btn-tertiary-color;
  background-image: none;
  background-color: transparent;
  border-color: $btn-tertiary-color;
  border: 0.15rem solid $btn-tertiary-color;
  @include transition(all .4s ease-in-out);
  &:hover {
    border-color: $btn-tertiary-hover;
    color: $btn-tertiary-hover;
  }
}
.alert {
  /*font-size: rem(13px);*/
}
.nav-item {
  .nav-link,
  .nav-separtor {
    /*color: $gray;*/
    font-weight: 600;
    &.active {
      color: $gray-darker;
    }
  }
}
