// Codezeel variable
$container-max-widths: (
	//sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1230px
) !default;

$font-family: 'Open Sans', sans-serif;
$font-custom: $font-family;
$font-icon: "FontAwesome";
$body-color: #808080;
$body-bkg: #000000;
$grid-gutter-width-base: 30px !default;
$link-color: #292929;
$link-hover-color: #93c567;
$table-border-color: #e6e6e6;
$btn-primary-hover-color: #fff;
$btn-primary-hover-bg: #93c567;
$btn-primary-hover-border: #93c567;
$dropdown-link-active-bg: #808080;
$nav-pills-active-link-bg: #808080;
$primary-color: #292929;
$secondary-color: #93c567;
$product-title-color: #979797;
$price-color: #262626;
$base-border-color: #e6e6e6;
$base-heading-color: #292929;
$footer-bkg-color: #fff;
$footer-text-color: #666666;
$navbar-bkg-color: #000000;
$navbar-text-color: #ffffff;
$navbar-text-hover-color: #aaaaaa;
$gray-bkg-color: #f2f2f2;
$menu-link-color: #fff;
$menu-bkg-color: #83b05c;

// Prestashop Variable
$gray-darker: #292929;     // Change
$gray-dark: #808080;
$gray: #878787;
$gray-light: #ebebeb;
$gray-lighter: #f6f6f6;      // Change
$brand-primary: #292929;      // Change
$brand-secondary: #f39d72;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;
$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: #292929;     // change 
$btn-primary-border: #292929;     // change  transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;
$headings-font-weight: 500;     // Change
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: rem(5px);
$small-space: rem(10px);
$medium-space: rem(20px);
$large-space: rem(30px);
$extra-large-space: rem(40px);
$warning: #FF9A52;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
$base-font-size: 14px;       // rem(16px);  Change
$font-size-lg: rem(15px);
$font-size-sm: rem(14px);
$font-size-xs: rem(13px);
$font-size-h1: rem(22px);
$font-size-h2: rem(20px);
$font-size-h3: rem(18px);
$font-size-h4: rem(18px);
$font-size-h5: rem(16px);
$font-size-h6: rem(15px);
$display1-size: rem(50px);
$display1-weight: 600;
$display2-size: rem(35px);
$display2-weight: 400;
$display3-size: rem(25px);
$display3-weight: 400;
$display4-size: rem(20px);
$display4-weight: 400;
$text-muted: $gray;