

/********************************************************
			Codezeel Custom Styles
********************************************************/
.cz-carousel {
  display: none;
  position: relative;
  float: left;
  width: 100%;
  margin: 0;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  float: left;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-carousel .owl-item .manu_image a {
  display: inline-block;
}
.owl-carousel .owl-item .manu_image a img {
  max-width: 100%;
}
.owl-carousel .owl-item:hover a img {
  border-color: blue;
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  /* fix */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  text-align: center;
}

/* mouse grab icon */
.grabbing {
  cursor: url("../img/codezeel/grabbing.png") 8 8, move;
}
 
.customNavigation {
  position: absolute;
  z-index: 959;
  top: 0;
  direction: ltr !important;
}
.customNavigation a {
  font-size: 0;
  position: absolute;
  font-weight: 300;
  height: 30px;
  width: 30px;
  line-height: 26px;
  padding: 0;
  color: #fff;
  background: #292929;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.customNavigation a:hover{
	background: #93c567;
}
.customNavigation a:hover:before{ color: #fff; }

.customNavigation a.prev {
  left: -35px;
}
.customNavigation a.next {
  right: -30px;
}
/*
@media (max-width: 1300px) {
	.customNavigation a.prev {
		left: 0px;
	}
	.customNavigation a.next {
		right: 0px;
	}
}
@media (max-width: 1199px) and (min-width: 768px){
	.customNavigation a.prev {
		left: -20px;
	}
	.customNavigation a.next {
		right: -20px;
	}
}
@media (max-width: 767px) {
	.customNavigation a.prev {
		left: 0px;
	}
	.customNavigation a.next {
		right: 0px;
	}
	#main .images-container .js-qv-mask {}
}*/

.customNavigation a:before{
    font-size: 22px;
    font-family: "FontAwesome";
    color: #fff;
}
.customNavigation a.prev:before {
  content: "\f104";
}
.customNavigation a.next:before {
  content: "\f105";
}
.products .customNavigation{ 
	right: 43px;
    top: -53px;
}
#czleftbanner, #czrightbanner { margin-bottom: 25px; }
#czleftbanner ul li,
#czrightbanner ul li{margin-bottom: 15px;}

#czleftbanner img,
#czrightbanner img{
	max-width: 100%;
}	
#czleftbanner .czleftbanner-container a,
#czrightbanner .czrightbanner-container a{display: inline-block; position: relative;}
#czleftbanner .czleftbanner-container a:before,
#czrightbanner .czrightbanner-container a:before{
	background: rgba(0, 0, 0, 0.14);
    content: "";
    bottom: 5px;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    opacity: 0;
    filter: alpha(opacity=0);
}
#czleftbanner .czleftbanner-container:hover a:before,
#czrightbanner .czrightbanner-container:hover a:before{
	opacity: 1;
    filter: alpha(opacity=1);
	-webkit-transform: scale(1);
    -ms-transform: scale(1);
	transform: scale(1);
	 -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
}	

.top_button {
	background: #292929;
    bottom: 20px;
    cursor: pointer;
    height: 40px;
    padding: 6px 13px;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 40px;
    z-index: 99;
}
.top_button:before{
	color: #fff;
    content: "\f106";
    font-family: "FontAwesome";
    font-size: 24px;
}

.top_button:hover{ 
	background: #93c567;
}
.top_button:hover:before{ 
	color: #ffffff;
}

/* Flexslider */

.spinner {
    min-height: 438px;
    background: url(../img/codezeel/loading.gif) no-repeat center center #f5f5f5;
    width: 100%;
}

@media (max-width: 1199px) {
	.spinner {min-height: 400px;}
}
@media (max-width: 991px) {
	.spinner {min-height: 320px;}
}
@media (max-width: 767px) {
	.spinner {min-height: 250px;}
}
@media (max-width: 479x) {
	.spinner {min-height: 180px;}
}

body{
	background: url(../img/codezeel/body-bkg.jpg) no-repeat fixed center center #000000;
}