/********************************************************
	RTL Right - to - Left Styles
********************************************************/

body, th,
#search_filters .js-search-filters-clear-all,
body#checkout section.checkout-step #customer-form .form-control-label, body#checkout section.checkout-step #delivery-address .form-control-label, body#checkout section.checkout-step #invoice-address .form-control-label, body#checkout section.checkout-step #login-form .form-control-label,
#cztestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .cms_face .title,
body#checkout section.checkout-step .radio-block,
.quickview .modal-footer,
#search_filters .facet .facet-label,
.products-section-title,
.header-top .menu {
    text-align: right;
}
label,
.label,
.products .all-product-link,
#czbannercmsblock .cmsbanners .one-half.cmsbanner-part2,
#czsubbannercmsblock,
#header .cart_block .block_content .checkout.card-block{
    text-align: left;
}

@media (min-width: 544px) {
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, {float: right;}
}
@media (min-width: 768px) {
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {float: right;}
}
@media (min-width: 992px) {
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {float: right;}
	.header-top .menu .sub-menu{
		    padding: 20px 0px 20px 10px;
	}
}
@media (min-width: 1200px) {
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-1=6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 {float: right;}
}


.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11,
.contact-rich .icon,
.products-selection .display li,
#block-contact_list li i.material-icons,
#czbannercmsblock .cmsbanners .one-third,
#cztestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .cms_face,
#czservicecmsblock .service_container .service-area .service-third,
#czbottombannercmsblock .bottombanners .one-half,
#footer .block_newsletter .title,
.cz-hometabcontent .products-section-title,
.footer-after .copyright {
    float: right;
}

.pagination .page-list,
#czbannercmsblock .cmsbanners .one-half.cmsbanner-part2,
body#checkout section.checkout-step.-reachable.-complete h1 .step-edit,
#header .blockcart,
#czsubbannercmsblock,
#footer .block_newsletter .block_content,
.cz-hometabcontent .tabs .nav-tabs,
.footer-after .payement_logo_block {
    float: left;
}

/******* Header ********/

#header .header-nav .left-nav,
.header-top .search-widget,
#header .header_logo,
.flexslider{
    float: right;
}
.header-top .menu .menu-container > ul > li:first-child a[data-depth="0"]{ padding-right: 0px; padding-left: 20px; }
.vertical-menu .top-menu .sub-menu{  left: auto; right: 100%; }
.vertical-menu .top-menu .sub-menu ul[data-depth="1"] > li{ float: right; }
.top-menu .sub-menu ul[data-depth="1"] > li{ margin-left: 0px; margin-right: 20px; }
#header .header-nav .right-nav{
    float: left;
}

#header .user-info{
	float: left; margin-right: 20px; margin-left: 0px;
}
.header-top .menu .menu-container > .top-menu{
	padding-right: calc(22.65% + 15px);
	padding-left: 0px;
}
#header .header-top .header-cms-block .header-cms{  background-position: right 10px; padding-left: 0px; padding-right: 42px; }

#header .user-info .user-info-title .account_text:after { display: none; }
#header .user-info .user-info-title .account_text:before {
    font-family: "FontAwesome";
    content: "\F107";
    font-size: 16px;
    padding-right: 7px;
}
#header .user-info .dropdown-menu{ left: 0px; right: auto; }
#header .search-widget{ 
	float: left;
    right: auto;
    left: 15px;
}

#header .search-widget form input[type=text]{
	padding-right: 13px;
    padding-left: 40px;
}
#header .search-widget form button[type=submit]{
	left: 0px;
    right: auto;
    text-align: right;
}
.search-widget form button[type=submit] {
    left: 0px;
    right: auto;
	text-align: right;
}
#header ul.dropdown-menu{
 left:0; right: auto; text-align: right;
}
#header .search-widget .search_toggle{}
#header .header-top .menu > ul > li:first-child a {
    padding-right: 0px;
    padding-left: 18px;
}
#header .header-nav .right-nav .mobile_mainmenu{ padding-right: 0px; }
#header .header-nav .language-selector { padding-left: 5px; padding-right: 0px; }
#header .header-nav .language-selector .expand-more{
    padding-left: 10px;
    padding-right: 0;
}
#header .header-top .header-cms-block{ text-align: right; float: right; }
#header .blockcart {
    margin-left: 0px;
    padding-left: 0px;
	margin-right: 30px;
}
#header .blockcart .blockcart-header{ padding-left: 0; padding-right: 45px; background-position: right -106px;  text-align: right;}
#header .cart_block {
    left: -15px;
    right: auto;
}
#header .cart_block  .cart-item .cart-image {
    float: right;
    margin-left: 12px;
    margin-right: 0px;
}
#header .cart_block  .cart-item .cart-info .remove-from-cart {
    left: 0px;
    right: auto;
}
#header .cart_block  .cart-item .cart-info {
    text-align: right;
    padding-right: 0px;
}
#header .cart_block  .cart-item .cart-info .product-quantity {
    padding-left: 5px;
    padding-right: 0px;
}

.top-menu .sub-menu .menu-banners{ margin-left: 0px; margin-right: 0px; }
.top-menu .sub-menu .menu-banners .menu-banner{ float: right; }
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="2"] li a {
    padding-left: 0px;
	padding-right: 20px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="3"] li a {
    padding-left: 0px;
	padding-right: 30px;
}
#mobile_top_menu_wrapper .top-menu .sub-menu ul[data-depth="4"] li a {
    padding-left: 0px;
	padding-right: 40px;
}
.vertical-menu .top-menu a[data-depth="0"]{ padding: 0px 20px 0px 0px; background: url(../img/codezeel/rtl-arrow.png) no-repeat scroll right 11px transparent; }
.vertical-menu .top-menu a[data-depth="0"]:hover{  background-position: right 12px;}

.header-nav .right-nav .mobile_mainmenu{ float: left; padding-left: 5px; padding-right: 10px; }
.header-nav .right-nav .mobile_mainmenu .mobile_main_menu{ left: 0; right: auto; text-align: right; }
.vertical-menu .top-menu .sub-menu-arrow:after{
	content: "\f104";
}
/******* Product ********/
.products-section-title:after{ right: 0px; left: auto; }
.products .customNavigation{ right: auto !important; left: 48px; }
.customNavigation a.next{  }
ul.product-flags li.on-sale,
#products .products .product_list.list li ul.product-flags li.on-sale {
    left: 10px;
    right: auto;
}
ul.product-flags li.new,
ul.product-flags li.online-only,
#products .products .product_list.list li ul.product-flags li.new {
    right: 10px;
    left: auto;
}
.products .product_list {
    padding: 0px;
}
#products .products .list li.product_item .center-block {
    text-align: right;
	padding-left: 0;
    padding-right: 20px;
}
.products .product_list li.product_item {
    float: right;
}
.product-quantity .qty, .product-quantity #quantity_wanted,
.product-quantity .input-group-btn-vertical {
    float: right;
	margin-left: 4px;
}
.product-quantity {margin-right: 0;}
.product-quantity .add {
    float: right;
    margin-right: 0;
    margin-left: 0;
}
.products-selection .display li#grid{ margin: 5px 0 0 5px;}
/******* General ********/

ul,
ol {
    padding-right: 0;
}
#right-column {
    padding-right: 15px;
    padding-left: 0px;
	float:left;
}
#left-column {
    padding-right: 0;
    padding-left: 15px;
	float: right;
}
#product-modal .modal-content .modal-body .product-images{ margin-left: 0px; margin-right: 15px; }
.pp-right-column{  
	/*padding-right: 25px;
    padding-left: 0px; */
}
#block-reassurance ul li .block-reassurance-item{ 
	border-right: 3px solid #93c567;
	border-left: 0px;
}
.layout-left-column #content-wrapper{ padding-left:0px; padding-right:15px; }
.layout-right-column #content-wrapper{ padding-left:15px; padding-right:0px; }
.top_button {
    left: 10px;
    right: auto!important;
}
.products-selection{ padding:10px 0px 10px 2px }
.owl-wrapper-outer, .flexslider {
    direction: ltr!important;
}
.flexslider .caption-description {
    left: auto;
    right: 100px;
}

.block_newsletter form .col-xs-12 {
    padding-left: 0px;
    padding-right: 80px;
}
.pull-xs-right,
.cart-summary-line .value {
    float: left !important;
}
.pull-xs-left {
    float: right !important;
}
.block_newsletter form input.btn {

}
#block-reassurance img {
    margin-left: 10px;
    margin-right: 0px;
}
.btn-primary .material-icons,
.btn-secondary .material-icons,
.btn-tertiary .material-icons {
    margin-right: 0px;
    margin-left: 5px;
}
.block-categories .block_content .collapse-icons {
    right: auto;
    left: 0px;
}
.custom-checkbox input[type="checkbox"] + span {
    margin-left: 3px;
    margin-right: 0px;
}
.products-selection .display {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}
.products-selection .sort-by {
    text-align: left;
    margin-left: 0px;
	padding: 0;
}
.pagination .page-list {
}
.pagination a .material-icons {
    margin-left: 0px;
    margin-right: -4px;
}
.products-sort-order .dropdown-menu {
    left: 0px;
}
.product-variants > .product-variants-item select{ padding-left: 0px; padding-right: 8px; }
#product-availability {
    margin-left: 0px;
    margin-right: 10px;
}
#blockcart-modal .cart-content {
    padding-right: 2.5rem;
    padding-left: 0;
}
#blockcart-modal .divide-right, #order-items {
    border-left: 1px solid #ddd;
    border-right: 0px;
}
#blockcart-modal .cart-content button {
    margin-right: 0;
    margin-left: 0.3125rem;
}
.cart-summary-line .label {
    float: right;
}
.media-left{ padding-left: 0px; padding-right: 15px; }
body#checkout .custom-checkbox span,
body#checkout section.checkout-step .custom-radio{	
    margin-left: 8px;
    margin-right: 0px;
}
.done{
    margin-left: 10px;
    margin-right: 0;
}
.modal-header .close{
	left: 0;
	right: auto;
}
.block-categories .category-sub-menu li[data-depth="1"] {
	margin-right:10px;
	margin-left: 0;
}
.page-footer .account-link{ 
    margin-left: 1rem;
    margin-right: 0;
}
body#checkout section.checkout-step .delete-address .delete, body#checkout section.checkout-step .delete-address .edit, body#checkout section.checkout-step .edit-address .delete, body#checkout section.checkout-step .edit-address .edit{
	padding-right: 0px;
	padding-left: 22px;
}
#blockcart-modal .modal-title{ text-align: right !important; }

#czbannercmsblock .cmsbanners .one-half{ float: right; }
#czbannercmsblock .cmsbanners .one-half.cmsbanner-part1{ padding-left: 15px; padding-right: 0px;}
#czbannercmsblock .cmsbanners .one-half.cmsbanner-part2{ padding-left: 0; padding-right: 15px;}

#czbottombannercmsblock .bottombanners .one-half.bottombanner-part1{ padding-left: 10px; padding-right: 0px; }
#czbottombannercmsblock .bottombanners .one-half.bottombanner-part2{ padding-left: 0; padding-right: 10px; }
.block_newsletter form input.btn{ margin-left: 0px; margin-right: 10px; }
.page-my-account #content .links a i{  margin-left: 10px; margin-right: 0px;  }
.product-cover .layer .zoom-in{right: auto;  left: 1px; }
body#checkout section.checkout-step .address{ margin-left: 0px; margin-right: 15px; }
#contact-rich .block_content .data{ margin-left: 0px; margin-right: 30px; }
#contact-rich .block_content .icon{ float: right; }
#left-column .products-block ul li .product_thumbnail, #right-column .products-block ul li .product_thumbnail{ float: right; margin-right: 0px; margin-left: 15px;}
.block-contact li i{ float: right; }
#stores .page-stores .store-item-container .divide-left{ border-left: 0px;  border-right: 1px solid #ddd;  }

#footer .block_newsletter{ 
	margin: 0px;    
	background-position: right -16px;
	padding-left: 105px;
    padding-right: 0;
}
#footer .block_newsletter .title{ padding-left: 0px; padding-right: 105px }

#czbannercmsblock .cmsbanners .one-third.cmsbanner-part1{ padding-left: 20px; padding-right: 0px; }
#czbannercmsblock .cmsbanners .one-third.cmsbanner-part3{ padding-left: 0px; padding-right: 20px; }
#footer #links_block_left ul li{ background-position: right 8px; padding: 0 12px 0 8px; }
.footer-container #czfootercmsblock{ padding-left: 50px; padding-right: 15px; }
.block-social{ right: 14px; left: auto; }
.footer-container #czfootercmsblock .footerlogo{  background-position: right 0; }
#product-availability, .product-availability{ margin-left: 0px; margin-right: 5px; }

#czservicecmsblock .service_container .service-area .service-third .service-icon{ float: right; }
#czservicecmsblock .service_container .service-area .service-third .service-content{ margin-left: 0px; margin-right: 55px; }
#czservicecmsblock .service_container .service-area .service-third.service1{     padding-right: 0px;      padding-left: 10px;}
#czservicecmsblock .service_container .service-area .service-third.service3{     padding-right: 10px;     padding-left: 0px;}
.homeblog-latest .blog-item .blog-meta, .secondary-blog .blog-item .blog-meta,
.blog-item .blog-content-wrap
{ text-align: right; }
.homeblog-inner .customNavigation {
    right: auto;
	left: 35px;
}
#product-modal .modal-content .modal-body .arrows .arrow-up,
#product-modal .modal-content .modal-body .arrows .arrow-down{ right: 34px; }
/*********** Responsive **************/
@media (max-width: 1260px) {
	#footer .block_newsletter .title {
		padding-right: 60px;
	}
	#footer .block_newsletter {
		padding: 28px 0 18px 45px;
	}
}

@media (max-width: 1199px) {
	#czservicecmsblock .service_container .service-area .service-third.service1{     padding-right: 0px;      padding-left: 5px;}
	#czservicecmsblock .service_container .service-area .service-third.service3{     padding-right: 5px;     padding-left: 0px;}
	#czservicecmsblock .service_container .service-area .service-third .service-content{     margin-right: 0; }
}

@media (max-width: 991px) {
	#footer .block_newsletter {
    	padding: 10px 35px;
	}
	#header .header-nav .right-nav .mobile_mainmenu{
		float: left;
		padding-left: 0;
    	padding-right: 5px;
	}
	.breadcrumb{ margin-right:0px; }
	.social-sharing,
	.header-top .menu .menu-container{ padding-right: 0px; }
	.header-top .top-menu > li{ text-align: right; }
	#header .user-info .user-info-title{ margin-left:0px; }
	.product-quantity .add{	margin-right:0px; }
	.block_newsletter form .col-xs-12{ padding-right: 0px; }
	#content-wrapper,
	.layout-left-column #content-wrapper,
	.layout-right-column #content-wrapper, #left-column, #right-column{ padding-left:0px; padding-right:0px; }
	#header .user-info{  margin-left: 10px; }
	.pp-right-column{  
		padding-right: 15px;
		padding-left: 15px; 
	}
	#header .search-widget{ float: left; }
	#header .search-widget form button[type=submit] i{
		border-left: 1px solid #dfdfdf;
		border-right: 0px;
	}
	#header .search-widget .search_toggle{
		left: 0px;
		right: auto;
	}
	#header .mobile-menu{ }
	#header .cat-title{
		padding-left: 0px;
		padding-right: 60px;
		text-align: right;
	} 
	#mobile_top_menu_wrapper .mobile-menu-inner{
		left: auto;
		right: -100%;
		text-align: right;
	}
	#mobile_top_menu_wrapper.slide .mobile-menu-inner{ 
		left: auto;
		right: 0px;
	}
	#page.active:before{
		left: auto;
		right: 300px;
	}
	
	#header .top-menu a[data-depth="0"] {
		padding-left: 0px;
		padding-right: 10px;
	}
	#header .top-menu .sub-menu li > a {
		padding-left: 0px;
		padding-right: 15px;
	}
	#header .top-menu .sub-menu ul[data-depth="2"] li a {
		padding-left: 0px;
		padding-right: 25px;
	}
	#header .top-menu .sub-menu ul[data-depth="3"] li a {
		padding-left: 0px;
		padding-right: 35px;
	}
	#header .top-menu .sub-menu ul[data-depth="4"] li a {
		padding-left: 0px;
		padding-right: 45px;
	}
	 .header-top .menu-icon .cat-title {
		text-align: right;
		padding: 9px 35px 9px 0px;
	  }
  	.header-top .menu-icon  .cat-title:after {
		right: 30px;
		left: auto;
	  }
	  #header .mobile-menu.fixed > .menu-icon .cat-title {
		padding-left: 0px;
		padding-right: 45px;
	}
	#header .mobile-menu.fixed > .menu-icon .cat-title:after{
		left: auto;
    	right: 15px;
	}
	.footer-after .copyright,
	.footer-after .payement_logo_block {
		text-align: center;
		float: none;
	}
	.footer-container #czfootercmsblock{ padding-left: 10px; }
	#czslidertopcmsblock .box-content-cms .cms-icon {
		margin: 0 auto;
	}
	#footer .block_newsletter .title{ padding-right: 0px; }
	.social-sharing{ text-align: right; }
}

@media (min-width: 768px) and (max-width: 1199px) { 
	#left-column .products-block ul li .product-info, #right-column .products-block ul li .product-info{
		clear: both;
		margin-top: 10px;
	}
}


@media (max-width: 767px) {
	.products-sort-order .select-title{
		    margin-right: 0;
	}
	.cz-hometabcontent .tabs .nav-tabs{ float: none; }
	#header .blockcart { margin-right: 0px; margin-left: 0px; }
	#header .blockcart .blockcart-header{ 
		background-position: right -186px;	
		margin-left: 47px;
	    padding-right: 36px;
    	margin-right: 0;
	}
	#header .search-widget{
		padding: 0 12px 0 7px;
    	border-left: 0px;
		border-right: 1px solid #fff;
	}
	#blockcart-modal .cart-content{ padding-right: 0px; }
	#blockcart-modal .divide-right{ border-right: 0px; }
}

@media screen and (max-width: 650px) {
	#czsubbannercmsblock,
	#czbannercmsblock .cmsbanners .one-third,
	#czbottombannercmsblock .bottombanners .one-half {
		text-align: center;
	}
	#czbannercmsblock .cmsbanners .one-half.cmsbanner-part1,
	#czbannercmsblock .cmsbanners .one-half.cmsbanner-part2,
	#czbottombannercmsblock .bottombanners .one-half.bottombanner-part1,
	#czbottombannercmsblock .bottombanners .one-half.bottombanner-part2{ padding: 0px; text-align: center; }
}

@media (max-width: 600px) {
	#cztestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .product_inner_cms .des{ padding-right: 0px; }
	#cztestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .product_inner_cms{ margin-right: 0px; }
}
@media (max-width: 480px) {
	#products .products .list li.product_item .thumbnail-container, #products .products .list li.product_item .center-block{
		    text-align: center;	
	}
}
@media (max-width: 575px) {
	
	#products .products .list li.product_item .center-block {
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	#header .search-widget .search_toggle{ right: auto; left: 5px; }
}