@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_fonts";
@import "partials/_mixins";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";



/*** HEADER ***/
#index #header { 
	border-bottom: 0px; 
}
#header {
  .header_logo {
	    width: auto;
		padding: 45px 0px 45px;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
  }
  .logo {
    max-width: 100%;
  }
  ul{
	&.dropdown-menu {
		margin: 0px;
		padding: 5px 0;
		border-color: $base-border-color;
		right: 0;
    	left: auto;
		z-index: 99999;
		li {
			a{
				padding: 5px 10px;
				display: block;
				color: black;
				font-size: 13px;
				&:hover{
					color: $link-hover-color;
				}
			}
		}
	}
}
  .header-nav {
	line-height: initial;
    color: $navbar-text-color;
    font-size: 13px;
	.container{
		 background: $primary-color;
	}
	a{
		color: $navbar-text-color;
		&:hover{
			color: $navbar-text-hover-color;
		}
	}
	.nav-cms-block{
		padding: 11px 0 11px 0px;
		@media (max-width: 600px) {
			display: none;
		}
	}
    .left-nav {
		display:inline-block;
	}
	.right-nav {
		float: right;    
	}	
    .currency-selector {
      padding: 11px 0 12px 0px;
	  white-space: nowrap;
	  display: inline-block;
	  .expand-more{
	  	color: $navbar-text-color;
	  }
	  .dropdown-arrow{
	  	&:before{
			font-family :$font-icon;
		    content: "\f107";
			font-size: 16px;
			padding-left: 3px;
		}
	  }
	  .expand-more {padding: 10px 0 10px 0px;}
	  &.dropdown:hover{
	  	.expand-more, .dropdown-arrow:before{
			text-decoration: none;
			color: $navbar-text-hover-color;
			@include transition(all 0.3s ease);
		}
	  }
	  &.open{
	  	 .dropdown-arrow{
	  		&:before{
				content: "\f106";
			}
		}
	  }
    }
	.language-selector {
      padding: 11px 15px 12px 0px;
	  white-space: nowrap;
	  display: inline-block;
	  .expand-more{
	  		color: $navbar-text-color;
	  }
	  .dropdown-arrow{
	  	&:before{
			font-family :$font-icon;
		    content: "\f107";
			font-size: 16px;
			padding-left: 3px;
		}
	  }
	  .expand-more { padding: 10px 0px 10px 0px; }
	  &.dropdown:hover{
	  	.expand-more, .dropdown-arrow:before{
			text-decoration: none;
			color: $navbar-text-hover-color;
			@include transition(all 0.3s ease);
		}
	  }
	  &.open{
	  	 .dropdown-arrow{
	  		&:before{
				content: "\f106";
				@include transition(all 0.3s ease);
			}
		}
	  }
    }
    .cart-preview {
      &.active {
        a {}
        i {}
      }
      .shopping-cart {
        vertical-align: middle;
      }
      .body {
        display: none;
      }
    }
    #contact-link {
      padding: 10px 0 10px 0px;
	  float: right;
	    margin-right: 10px;
    }
    .material-icons {
      line-height: 22px;
	  font-size: 20px;
	  &.expand-more {
        margin-left: -3px;
      }
    }
  }
  .header-top {
    width: 100%;
    min-height: 125px;
    text-align: center;
	padding: 0px;
	> .container {
      position: relative;
    }
  }
  .top-menu-link {
    margin-left: $medium-space;
  }
  .user-info {
      	float: right;
    	position: relative;
        margin-left: 20px;
		.user-info-title {
			float: left;
			color: $navbar-text-color;
			padding: 11px 0 12px 0px;
			cursor: pointer;
			&:hover{
				background-position: 0px -132px;
				color:$navbar-text-hover-color;
			}
			.account_text{
				&:after{
					font-family: $font-icon;
					content: "\F107";
					font-size: 16px;
					padding-left: 7px;
				}
			}
		}
		&.open{
			.user-info-title {
				background-position: 0px -132px;
				color:$navbar-text-hover-color;
				.account_text{
				&:after{
						font-family: $font-icon;
						content: "\F106";
						font-size: 16px;
						padding-left: 7px;
					}
				}
			}
		}
		.material-icons{ display: none; } 
		.dropdown-menu{ left: auto; right: 0;}
		.account { }
    }
  .blockcart {
		text-align: center;
		white-space: nowrap;
		position: relative;
		float: right;
		padding: 0px;
		width: auto;
		margin-top: 30px;
	    margin-bottom: 35px;
		margin-left: 35px;
		.blockcart-header{
			padding: 8px 0px 4px 45px;
			display: block;
			text-align: left;
			line-height: 22px;
			background: url(../img/codezeel/top-icon.png) no-repeat scroll 0px -106px transparent;
			> a.shopping-cart {
				text-decoration: none;				
				padding: 5px 0 0px 0px;
				color: $primary-color;
				text-transform: uppercase;
				font-weight: 700;
				@include transition(all 0.5s ease);
				&:hover,
				&:focus {
				    text-decoration: none;
					background-position: 0px -159px;
					@include transition(all 0.5s ease);
				}
				.mobile_show{
					display: none;
				}
				.cart-products-count{
					color: $body-color;
					text-transform: lowercase;
					display: block;
					font-weight: 400;
				}
				/*&:before{
					content: "\f07a";
					font-family: $font-icon;
					font-size: 18px;
					color: #ffffff;
					padding-right: 5px;
					display: none;
				}
				&:after{
					font-family: $font-icon;
					content: "\F107";
					font-size: 16px;
					padding-left: 3px;
					display: none;
				}*/
			}
		}
	  .material-icons{
		&.expand-more {
			display: none;
		} 
	  }
      a {
        color: $link-color;
        &:hover {
          color: $link-hover-color;
        }
      }
      &.active {
        > a:hover {
           
        }
      }
      .header {
      }
    }
  .cart_block{
		position: absolute;
		top: 60px;
		right: 0;
		margin-top: 0px;
		z-index: 1000;
		height: auto;
		background: white;
		border: 1px solid $base-border-color;
		width: 300px;
		padding: 5px 0;
		left: auto;
		.cart-item{
			margin-bottom: 5px;
			padding: 10px;
			overflow: hidden;
			border-bottom: 1px solid $base-border-color;
			.cart-image{
				float: left;
				margin-right: 12px;
				border: 1px solid $base-border-color;
				text-align: center;
				img{ width: 100%; }
			}
			.cart-info {
				overflow: hidden;
				position: relative;
				padding-right: 20px;
				.product-quantity{
					display: inline-block;
					text-transform: uppercase;
					color: $gray-darker;
				}
				.product-name{
					font-size: 14px;
					line-height: 18px;
					display: inline-block;
				}
				.product-price{
					display: block;
					font-size: 15px;
					padding-top: 5px;
				}
				.remove-from-cart{
					position: absolute;
					right: 0px;
					top: 4px;
					background: url(../img/codezeel/delete.png) right center no-repeat;
					width: 12px;
					height: 12px;
					margin-right: 3px;
					float: right;
					outline: none;
					text-decoration: none;
					.material-icons{ display: none; }
				}
				.customizations{
					padding-bottom: 10px;
					font-size: 11px;
				}
			}
		}
		.cart-summary{ 
			border: 0px; 
			margin: 0px;
			font-size: $base-font-size;
		}
		.block_content{
			.card-block{
				padding: 10px 15px 15px;
				border-bottom: 1px solid $base-border-color;
			}
			.checkout.card-block{
				text-align: right;
				padding: 15px;
				border-bottom: none;
				.btn-checkout{
					background: $btn-primary-hover-bg;
					border-color: $btn-primary-hover-border;
					color: $btn-primary-hover-color;
					&:hover{
						background: $btn-primary-bg;
						border-color: $btn-primary-border;
						color: $btn-primary-color;
					}
				}
			}
		}
	}
	.search-widget{ 
			float: right;  
			width: auto;
			z-index: 99;
			padding:0px 15px;
			margin: 11px 0 10px;
			position: absolute;
			bottom: -61px;
			z-index: 999;
			right: 15px;
			.search_button {
				display: none;
				font-size: 0;
				padding: 0;
				text-align: center;
				cursor: pointer;
				z-index: 9;
				background: url(../img/codezeel/nav-icon.png) no-repeat scroll 0px -44px transparent;
				height: 20px;
				width: 20px;
				&.active{
					background-position: 0px -171px;
					&:hover{
						background-position: 0px -171px;
					}
				}
				&:hover{
					background-position: 0px -44px;
				}				
			}
			.search_toggle {
				z-index: 9;
				width: 280px;			
			}
			form {
				button[type=submit] {
					padding: 16px 21px 16px;
					background: url(../img/codezeel/nav-icon.png) no-repeat scroll 13px -38px transparent;
					top: 5px;
					&:before{ display: none; }
				}
				input[type="text"]{
					width: 100%;
					padding: 12px 40px 12px 10px;
					border: 1px solid #639338;
					background: #639338;
					color: #fff;
					font-size: 13px;
				}
			}
		}
		
}

.popover {
  font-family: inherit;
}



/*** WRAPPER ***/
#index{
	#wrapper {
  		.page-container {
			padding-top: 15px;
		}
	}
}
#wrapper {
  .page-container {
	  padding-top: 30px;
	  padding-bottom: 15px;
   }
  .banner {
    margin-bottom: 30px;
    display: block;
    img {}
  }
}

.page-container > .breadcrumb{ display: none; }
.breadcrumb {
    margin: 0px;
    padding: 0;
    background: none;
    &[data-depth="1"] {
      display: none;
	  margin-bottom: 0px;
    }
    .breadcrumb{ margin-bottom: 15px; }
	ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: "|";
        color: $gray-darker;
        margin: em(5px);
      }
      &:last-child {
        content: "|";
        color: $gray-darker;
        margin: rem(5px);
        &::after {
          content: "";
        }
      }
      a {
        color: $gray-darker;
		&:hover{
			color: $link-hover-color;
		}
      }
    }
  }

/*** MAIN ***/
#index #main .page-footer{margin-bottom: 0;}
#main {
  .page-header {
    margin-bottom: rem(25px);
  }
  .page-content {
    margin-bottom: rem(25px);
    h6 {
      margin-bottom: 10px;
	  font-weight: normal;
    }
    #notifications {
      margin-left: - $grid-gutter-width-base;
      margin-right: - $grid-gutter-width-base;
    }
  }
  .page-footer {
    margin-bottom: rem(25px);
  }
}
#main > h1,
#main h2.h2,
#main .page-header h1,
.block-category h1{
	font: 700 24px/26px $font-family;
	color: $base-heading-color;
	text-transform: uppercase;
	margin-bottom: 25px;
}

#notifications {
  ul {
    margin-bottom: 0;
  }
}
/*** FOOTER ***/
#footer {
 
}

/*** Responsive part ***/

@include media-breakpoint-down(md) {		//	max-width: 991px
  #wrapper {

  }
  .breadcrumb{
  	margin-left: 0px;
  }
  .container {
    max-width: 100%;
  }
  #header .logo {
    width: auto;
	max-height: 80px;
  }
  #products .product-miniature,
  .products .product-miniature {
    margin: 0 auto;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto rem(15px);
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
	#header{
		.header-top{
			padding-bottom: 0px; 
			min-height: 100%;
			.header_logo{ 
				
			}
		}
		.cart_block{ top: 47px; right: -15px; }
		.blockcart{
			.material-icons.shopping-cart{
				display:  inline-block;
			}
			.blockcart-header{ 
				> a.shopping-cart {
					&:hover,
					&:focus {
						
					}
					&:before{
					
					}
				}
			}
			a {
				/*span.hidden-sm-down{ display: none;	}*/
			}
		}
		.user-info{
			z-index: 99;
    		margin-left: 3px;
			.user-info-title{
				margin-left: 18px;
				margin-right: 3px;		
			}
		}		
	}
	
}

@include media-breakpoint-down(sm) {		//	max-width: 767px
  #wrapper {
    box-shadow: none;
	.page-container{
		padding-top: 20px;
		padding-bottom: 20px;
	}
  }
  .page-container{
  	padding: 0 20px;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  .menu-container .mobile-menu{
  	padding: 5px 0;
  }
  #header {
	.search-widget {
		padding: 0 7px 0 12px;
		border-left: 1px solid #fff;
		bottom: -46px;
		right: 15px;
		.search_button{
			display: block;
		}
		.search_toggle{
			display: none;
			position: absolute;
			top: 37px;
			right: 17px;
		}		
	}
	.header-nav {
      .top-logo {
        line-height: 45px;
        vertical-align: middle;
        margin: 0 auto;
        a {
          img {
            max-height: 50px;
            max-width: 100%;
          }
        }
      }
      .right-nav {
      }
      .user-info {
        text-align: left;
        margin-left: 0;
		.user-info-title{
			margin: 13px 0 9px 18px;
    		padding: 11px 5px 10px 15px;
			background: url(../img/codezeel/nav-icon.png) no-repeat scroll 0px 1px transparent;
			.account_text{
				display: none;
			}
		}
        .logged {
          
        }
      }
	 }
      .blockcart {
        margin-top: 7px;
		margin-bottom: -40px;
		z-index: 99;
		margin-right: 0px;
		&.active {
		
        }
        &.inactive {
          .cart-products-count {
            
          }
        }
		.blockcart-header{ 
			background-position: 0 -183px;
		    margin-right: 50px;
			padding-left: 38px;
			> a.shopping-cart {
				.cart-products-count{ 
					color: #fff; 
					.value{
						display: none;
					}
				}
			}
		}
      }
    
    .header-top {
      	padding-bottom: 0;
		padding-top:0px;
		.header_logo{ 
			position: relative;
			float: none;
			padding: 35px 0px 35px;
		}
      a[data-depth="0"] {
      }
    }
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .products .product-miniature {
    margin: 0 auto;
  }
  .block-contact {
    border: none;
  }
  .menu,
  .dropdown-item {
    
  }
  #footer {
    
  }
  .container {
        max-width: 100%;
   }
	.pp-left-column, .pp-right-column { 
		float: none; 
		width: 100%; 
	}
	.pp-right-column { }
}

@include media-breakpoint-down(xs) {		//	max-width: 576px
	main#page{
		padding: 30px 15px;
	}
	#header {
		.header-top {
			.header_logo { width: 100%; padding: 30px 0; }
			.header-cms-block{ display: none; }
		}
		ul.dropdown-menu{
			min-width: 140px;
		}
		.header-nav{
			.language-selector{ }
			.right-nav {
				.mobile_mainmenu{
				
				}
			}
		}
		.blockcart .blockcart-header {
		    height: 35px;
			> a.shopping-cart{
				.mobile_hide{
					display: none;
				}
				.mobile_show{
					display: block;
				}
			}
			
		}
		.cart_block{ 
			width: 260px;     
			top: 49px;
    		right: -60px;}
		.search-widget {
			.search_toggle{ width: 230px; right: 5px; }
		}
	}
	
	.products-sort-order .dropdown-menu{width: 90%;}
	#contact-link .callus{ display: none; }
	.products-section-title{ font-size: 20px;}
	#footer #links_block_left .h3.block_title{
		font-size: 16px;
		line-height: 16px;
	}
	.footer-container .links {
		.h3, h3, h3 a {
			font-size: 16px;
			line-height: 16px;
		}
	}
}


.sitemap .tree{ 
	padding-left: 20px;
	li{
		padding:5px 0;
		a {
			@include transition(all 0.5s ease);
			&:before {
				content: "\f105";
				display: inline-block;
				font-family: $font-icon;
				padding-right: 13px;
			}
		}
		ul{
			margin-left: 20px;
		}
	}
}

 

/*-------------------------- Start Home page Parallax Block -------------------------------*/
#cztestimonialcmsblock {
	margin: 0;
	position: relative;
	clear: both;
	.testimonial_wrapper {
		overflow: hidden;
		padding: 25px 0 30px;
		.testimonial-area {
			padding: 0px 0px;
			position: relative;				
			ul#testimonial-carousel {
				text-align: center;
				li {
					&.item{
						overflow: hidden;
						.cms_face{
							
							.testimonial-image {
								margin-bottom: 20px;
							}
							.quote_img {
								background: rgba(0, 0, 0, 0) url("../img/codezeel/quote.png") no-repeat scroll center center;
								height: 15px;
								width: 12px;
								margin: 0 auto 15px;
							}
							.title {
							}
							.name a{
								color: $gray-darker;
								font: 700 16px/20px $font-family;
								margin-bottom: 5px;
								display: block;
							}
							.subheading {
								color: $gray-darker;
								font-size: 13px;
							}
						}
						.product_inner_cms {
							padding-top: 15px;
							padding-bottom: 5px;
							.des {
								line-height: 24px;
								color: $body-color;
								position: relative;
							}
						}
					}
				}
			}
		}
		.customNavigation {
			@include opacity(1);
			@include transition(all 0.5s ease 0s);
			top: 45%;
			a.prev{ left: 15px; }
			a.next{ right: 15px; }
		}
		.owl-controls{
			width: 100%;
			position: absolute;
			margin: 0;
			display: none;
			bottom: -25px;
			text-align: center;
			z-index: 9;
			@include opacity(0);
			@include transition(all 0.5s ease 0s);
			.owl-page{
				margin: 0 4px;
				display: inline-block;
				zoom: 1;
				*display: inline;
				span{
					width: 10px;
					height: 10px;
					display: block;
					background: $primary-color;
					@include border-radius(50%);
					cursor: pointer;
					text-indent: -9999px;
					-webkit-transition: transform 0.3s cubic-bezier(0.7, -0.2, 0.3, 2.5), color 0.15s ease-out;
					-moz-transition: transform 0.3s cubic-bezier(0.7, -0.2, 0.3, 2.5), color 0.15s ease-out;
					-o-transition: transform 0.3s cubic-bezier(0.7, -0.2, 0.3, 2.5), color 0.15s ease-out;
					transition: transform 0.3s cubic-bezier(0.7, -0.2, 0.3, 2.5), color 0.15s ease-out;
				}
				&.active{
					span{
						background: $secondary-color;
					}
				}
			}
		}
		&:hover{
			.customNavigation , .owl-controls {
				@include opacity(1);
				@include transition(all 0.5s ease 0s); 
			}
		}
	}
}
/*
@include media-breakpoint-down(md) { 	//	max-width: 991px
	#cztestimonialcmsblock {
		.testimonial_container{
			margin: 0px auto;
			.testimonial-area {
				padding: 55px 0;
				ul#testimonial-carousel {
					padding: 0 40px;
					li.item {
						.cms_face {
							.testimonial-image {
								margin-bottom: 15px;
							}
						}
					}
				}
			}
		}
	}

}

@media (max-width: 991px) and (min-width: 601px) {
  #cztestimonialcmsblock .testimonial_container .testimonial-area ul#testimonial-carousel li.item .cms_face .title {
    clear: both;
  }
}

@media (max-width: 600px) {
	#cztestimonialcmsblock {
		.testimonial_container{
			.testimonial-area {
				padding: 25px 0 20px;
				ul#testimonial-carousel {
					
					li.item {
						.cms_face {
							width: 100%;
							float: none;
						}
						.product_inner_cms{
							clear: both;
							padding-top: 0px;
							float: none;
							width: 100%;
							margin-left: 0px;
							.des {
								padding-left: 0px;
								.quote_img {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	#cztestimonialcmsblock{
		.testimonial_container{
			 .testimonial-area {
			 	ul#testimonial-carousel {
					padding: 0 20px;
					li.item {
						.cms_face {
							.title {
								clear: both;
							}
						}
					}
				}
			 }
		}
	}
}*/


/*------------- Header CMS Block-------------*/

#header {
	.header-top {
		.header-cms-block{
			float: left;
			text-align: left;
			margin: 40px 0 35px;
			.header-cms{				
				padding-left: 45px;
				background: url(../img/codezeel/top-icon.png) no-repeat scroll 0px 9px transparent;
				line-height: 23px;
				.contact-info{					
					color: $primary-color;
					font: 700 16px/18px $font-family;
					display: inline-block;
				}
				.shop-time{
					
				}
			}
		}
	}
}
@include media-breakpoint-down(md) {
	#header{
		.header-top{
			.header-cms-block{
				width: 33%;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	#header{
		.header-top{
			.header-cms-block{
				display: none;
			}
		}
	}
}

/*********************  CMS Sub Banner homepage    ********************/

#czsubbannercmsblock{
	float: right;
	width: 31.9%;
    text-align: right;
	.subbanners{
		.subbanner1{
			margin-bottom: 15px;
		}
		.subbanner{
				position: relative;
				overflow: hidden;
				vertical-align: middle;
				img {max-width: 100%;}
				a.banner-anchor{
					display: block;
					&:before{
						background: rgba(0, 0, 0, 0.14);
						content: "";
						bottom: 5px;
						left: 5px;
						position: absolute;
						right: 5px;
						top: 5px;
						@include scale(0);
						@include transition(all 300ms ease 0s);
						@include opacity(0)
					}					
				}
				.subbanner-text{
					font-size: 26px;
					font-weight: 400;
					line-height: 30px;
					color: #000000;
					position: absolute;
					right: 0px;
					left: 0px;
					text-align: center;
					top: 15px;
					@include transition(all 500ms ease 0s);
					.color2{
						color: $secondary-color;
					}
				}
				&:hover{
					a.banner-anchor {
						&:before {
							@include opacity(1);
							@include scale(1);
						}
					}
				}
			}
	}
}


@include media-breakpoint-down(lg) {
	#czsubbannercmsblock{
		.subbanners{
			.subbanner1{
				margin-bottom: 14px;
			}
		}
	}
}

@include media-breakpoint-down(md) {
	#czsubbannercmsblock{
		.subbanners{
			.subbanner1{
				margin-bottom: 10px;
			}
			.subbanner .subbanner-text{
		    	font-size: 22px;
			}
		}
	}
}


@media screen and (max-width: 650px) {
	#czsubbannercmsblock{
		float: none;
		width: 100%;
		margin-top: 15px;
		.subbanners{
		    display: inline-block;
    		text-align: center;
			.subbanner{ 
				display: inline-block;
    			text-align: center;
			}
			.subbanner1{
				margin-bottom: 15px;
			}
			.subbanner2{
				margin-bottom: 0;
			}
		}
	}
}



/*********************  CMS Banner homepage    ********************/

#czbannercmsblock{
	padding: 15px 0;
    margin: 0px;
	clear: both;
	overflow: hidden;
	.cmsbanners{
		.one-half{
			width: 50%;
			float: left;
			&.cmsbanner-part1{
				padding-right: 15px;
			}
			&.cmsbanner-part2{
				float: right;
				text-align: right;
				padding-left: 15px;
			}
			.cmsbanner{
				position: relative;
				overflow: hidden;
				vertical-align: middle;
				img {max-width: 100%;}
				a.banner-anchor{
					display: block;
					&:before{
						background: rgba(0, 0, 0, 0.14);
						content: "";
						bottom: 5px;
						left: 5px;
						position: absolute;
						right: 5px;
						top: 5px;
						@include scale(0);
						@include transition(all 300ms ease 0s);
						@include opacity(0)
					}
				}
				.cmsbanner-text{
					font-size: 30px;
					font-weight: 700;
					line-height: 40px;
					color: #ffffff;
					text-transform: uppercase;
					position: absolute;
					right: 0px;
					left: 0px;
					text-align: center;
					top: 37%;
					padding: 0 70px;
					text-shadow: 0 2px 7px #222222;
					@include transition(all 500ms ease 0s);
					.color2{
						color: $secondary-color;
					}
				}
				&:hover{
					a.banner-anchor {
						&:before {
							@include opacity(1);
							@include scale(1);
						}
					}
				}
			}
		}
	}
}


@include media-breakpoint-down(lg) {	//	max-width: 1199px
	#czbannercmsblock{
		.cmsbanners{
			.one-half{
				&.cmsbanner-part1{
					padding-right: 10px;
				}
				&.cmsbanner-part2{
					padding-left: 10px;
				}
				.cmsbanner{
					.cmsbanner-text{
					    top: 33%;
						font-size: 25px;	
					    padding: 0 50px;
						line-height: 35px;
					}
				}
			}
		}
	}
}


@media (max-width: 650px) { 
	#czbannercmsblock{
		width: 100%;
		padding: 10px 0;
		.cmsbanners{
			.one-half{
				width: 100%;
				.cmsbanner {display: inline-block; }
				&.cmsbanner-part1{
					margin-bottom: 15px;
					padding: 0px;
					text-align: center;
					width: 100%;
				}
				&.cmsbanner-part2{
					text-align: center;
					padding: 0px;
				}
				.cmsbanner .cmsbanner-text{	
					top: 35%;
					padding: 0 75px;
				}
			}
		}
	}
}

@media screen and (max-width: 400px) {
	#czbannercmsblock .cmsbanners .one-half .cmsbanner .cmsbanner-text {
		top: 30%;
		padding: 0 15px;
		line-height: 30px;
		font-size: 20px;
	}
}

/*-------------------------- Start Home page Service CMS Block -------------------------------*/

#czservicecmsblock {
	clear: both;
	margin: 0 0;
	.service_container {
			color: #FFF;
			padding-top: 0px;
			padding-bottom: 0px;
			margin:0px auto;
			.service-area {
					margin-bottom: 15px;
					float: left;
					width: 100%;
					.service-third {
						float: left;
						width: 33.33%;
						color: $primary-color;						
						
						&:hover{
							@include transition(all 0.5s ease);
							.service-content {
								.service-heading {
									color:  $secondary-color;
								}
							}
							.service-icon {
								@include transition(all 0.5s ease);
							}
						}
						.service-inner{
							background: $gray-bkg-color;
							padding: 15px 25px 15px 30px;
						}
						.service-icon {
							float: left;
							margin-top: 0px;
							height: 40px;
							width: 40px;
							@include transition(all 0.5s ease);
						}
						&.service1{
							padding-right: 10px;
							.icon1 {
								background: url(../img/codezeel/service-icon.png) no-repeat scroll 0px 4px;
							}
							&:hover{
								.icon1 {
									background: url(../img/codezeel/service-icon.png) no-repeat scroll 0px -57px;								    
								}
							}
						}
						&.service2{
							padding-left: 5px;
							padding-right: 5px;
							.icon2 {
								background: url(../img/codezeel/service-icon.png) no-repeat scroll 0px -117px;
							}
							&:hover{
								.icon2 {
									background: url(../img/codezeel/service-icon.png) no-repeat scroll 0px -176px;							   
								}
							}
						}
						&.service3{
							padding-left: 10px;
							.icon3 {
								background: url(../img/codezeel/service-icon.png) no-repeat scroll 0px -242px;
							}
							&:hover{
								.icon3 {
									background: url(../img/codezeel/service-icon.png) no-repeat scroll 0px -307px;
								}
							}
						}
						.service-content {
							margin-left: 55px;
							.service-heading {
								font: 600 15px/18px $font-family;
								color: $primary-color;
								text-transform: uppercase;
							}
							.service-description {
								color: #757575;
								font-size: 11px;
							}
						}
					}
				}
	}
}

@include media-breakpoint-down(lg) {	//	max-width: 1199px
	#czservicecmsblock {
		.service_container{
			.service-area{
			    margin-bottom: 10px;
				.service-third {
					.service-inner{
						padding-left: 20px;
						padding-right: 20px;
					}
					.service-icon{
						display: none;
					}
					.service-content{
					    margin-left: 0;
					}
					&.service1{
					    padding-right: 5px;
					}
					&.service3{
					    padding-left: 5px;
					}
				}
			}
		}
	}
}

@include media-breakpoint-down(md) { 	//	max-width: 991px
	#czservicecmsblock {
	    display: none;
	}
}
