/* Sticky footer styles
-------------------------------------------------- */

html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}

.footer {
  
 bottom: 0;
  width: 100%; 
  height: 60px;
  line-height: 60px; 
  background-color: #f5f5f5;
  position: fixed;
  right: 0;
  left: 0;
  padding: 1rem;*
    
}
    
